@import './src/global-style/_all-variables.scss';

.resultcast {
  display: flex;
  padding-top: 50px;
  @include breakpoint(multidesktop) {
    padding-top: 20px;
  }

  .rightforeCast {
    margin-right: 80px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: $font-list-lg1-title;
      color: $color-p1-dark;
      display: flex;
      line-height: 50px;

      @include breakpoint(multidesktop) {
        line-height: 30px;
        font-size: $txt-md-font3-size;
      }

      @include breakpoint(multidesktophalf) {
        font-size: $txt-lg-font-size;
      }

      span {
        // width: 70px;
        display: flex;
        margin-right: 20px;

        &.foreCast-title {
          width: 180px;
          padding-right: 5px;
          margin: 0;
          @include breakpoint(multidesktop) {
            width: 115px;
          }
        }
      }
      .table-item-5,
      .table-item-6 {
        font-size: $h3-lg-font-size;
        @include breakpoint(multidesktop) {
          font-size: $txt-lg-font-size;
        }
      }
    }
  }
}

.reserved {
  background-color: $primary;
  color: $white;
  font-size: $h2-md-font-size;
  width: 60px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 20px;
  @include breakpoint(multidesktop) {
    font-size: $txt-md-font2-size;
    width: 38px;
    height: 22px;
    padding: 0;
  }
  @include breakpoint(multidesktophalf) {
    font-size: $txt-md-font-size;
    width: 44px;
    height: 28px;

  }
}

.horse-table li {
  .table-item-5,
  .table-item-6 {
    font-size: $h3-lg-font-size;
    font-weight: bold;

    @include breakpoint(multidesktop) {
      font-size: $h2-font-size;
    }
  }
  .table-item-6 {
    @include breakpoint(multidesktop) {
      min-width: 68px;
    }
  }
}
.horse-table li {
  .table-item-5 {
    flex-basis: 15%;
    min-width: 15%;
  }
}

.result-custom-banner {
  .banner-title-block {
    height: 132px;

    @include breakpoint(multidesktop) {
      height: 66px;
    }
  }

  .lead-title {
    color: $white;
    font-size: $h4-lg-font-size;
    padding: 3px 0px 0px 20px;

    @include breakpoint(multidesktop) {
      padding: 2px 0px 0px 10px;
      font-size: $txt-md-font-size;
    }
  }

  .main-title-row {
    display: flex;

    .main-title {
      color: $white;
      font-size: $h1-lg-font-size;
      padding-left: 20px;
      @include text-truncate;

      @include breakpoint(multidesktop) {
        font-size: $txt-xl-font-size;
        padding-left: 10px;
      }
      span {
        display: inline-block;
        padding-right: 15px;
      }
    }
  }

  .banner-sub-title {
    font-size: $txt-md-font-size;
    display: flex;
    align-items: stretch;
    flex: 1;
    border: 1px solid $body-color-p2;
    background: $white;
    height: 60px;
    box-sizing: border-box;

    @include breakpoint(multidesktop) {
      height: 30px;
      font-size: $txt-md-font-size;
    }

    .banner-sub-title-left {
      flex-basis: 50%;
      display: flex;
      font-size: $font-list-lg1-title;
      padding: 0 0 0 20px;
      @include breakpoint(multidesktop) {
        font-size: $txt-md-font-size;
        padding: 0 0 0 10px;
      }
    }

    .banner-sub-title-right {
      //flex-basis: 50%;
      display: flex;
      justify-content: flex-end;
      font-size: $font-list-lg1-title;

      @include breakpoint(multidesktop) {
        font-size: $txt-md-font-size;
      }
    }
  }

  .item-head {
    display: flex;
    align-items: center;
    color: $body-color-txt;

    @include breakpoint(multidesktop) {
      font-size: $txt-md-font-size;
    }
  }

  .head-item-2 {
    text-align: center;
  }

  .head-item-1 {
    flex-basis: 100%;
    font-size: $h2-lg-font-size;
    border-right: 0;

    @include breakpoint(multidesktop) {
      font-size: $txt-md-font-size;
    }

    span {
      display: flex;
      margin-right: 40px;
      white-space: nowrap;

      @include breakpoint(multidesktop) {
        margin-right: 20px;
      }

      &:last-child {
        margin: none;
      }
    }
  }

  .head-item-2 {
    flex-basis: 30%;
    min-width: 30%;
    border-left: solid $border-color 2px;
    border-right: 0;
    &.head-item-2-secondary {
      flex-basis: unset;
      max-width: unset;
      justify-content: center;
    }
  }

  .head-item-2-secondary {
    background-color: $color-p2;
    color: $white;
    padding: 0 55px;
    @include breakpoint(multidesktop) {
      padding: 0 25px;
    }
  }
}
