.yarn
**/node_modules
**/dist
**/docs
**/bin
**/obj
**/*.css
**/*.yml
**/*.md
**/*.hbs
**/*.vscode
.angular
test.ts
polyfills.ts
/.nx/cache

packages/sports/types
packages/sports/libs/common/client-config-data-access/src/lib/client-config.g.ts

/.nx/workspace-data