<div class="tennis-results">
    <ng-container *ngIf="cricketCDSContent as vm">
      <ng-container *ngIf="!(errorMessage$ | async)">
      <ng-container *ngIf="vm?.games">
        <gn-base-page>
          <ng-container header-content>
            <gn-banner [leadTitle]="vm?.sportName" [title]="vm?.title"
              [subtitleLeft]="vm?.eventStartDate | sportEventDateFormat: vm?.content"
              [subtitleRight]="vm?.competitionName">
            </gn-banner>
          </ng-container>

          <ng-container body-content>
            <gn-match-betting [matchData]="vm"></gn-match-betting>
            <gn-top-runscorer [matchData]="vm"></gn-top-runscorer>
            <gn-total-sixes [matchData]="vm"></gn-total-sixes>
            <gn-toscore-infirstst-inns [matchData]="vm"></gn-toscore-infirstst-inns>
          </ng-container>
          <ng-container footer-content>
            <gn-footer [leftSideText]="vm?.content?.contentParameters?.LeftStipulatedLine"> </gn-footer>
          </ng-container>
        </gn-base-page>
      </ng-container>
    </ng-container>
    </ng-container>
  </div>

  <gn-error [errorMessage$]="errorMessage$"></gn-error>