@use '../../../../../shared-css/helpers/mixins' as helper;
@use '../../../../../shared-css/abstracts' as abstract;
@import '../../../../../shared-css/variables.scss';
@import '../../../../../shared-css/carosuel-modal-popup-styles.scss';

:host::ng-deep .sequence-preset-carousel {

    .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex,
    .mdc-text-field {
        width: 100%;
    }

    .mdc-line-ripple,
    .mdc-line-ripple--active,
    .mdc-line-ripple--deactivating {
        display: none;
    }

    .mat-mdc-form-field-focus-overlay {
        background-color: $white;
    }

    .mdc-text-field--filled,
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: $white;
        border: 1px solid $border-grey-2;
        border-radius: 3px;
        color: $text-black-color;
        padding-left: 15px;
        padding-right: 11px;
        height: 30px;
    }

    .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
    .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
        padding: 7px 0;
    }

    .mat-mdc-form-field-flex {
        @include helper.font-styles($txt-sm-font-size, $fw-regular, 0.25px, 16px);
        text-align: left;
    }

    .mat-mdc-select {
        padding-top: 2px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 1px;
            height: 28px;
            background: $border-grey-2;
            top: 0px;
            right: 20px;
        }
    }

    .mat-mdc-select-trigger .mat-mdc-select-value {
        font-size: 12px;
    }

    .search-container {

        .mdc-text-field--filled,
        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            padding-left: 7px;
        }

        .mat-mdc-form-field-icon-prefix>.mat-icon {
            padding: 0 3px 0 0;
            color: $search-icon;
        }
    }

    .preset-content {
        position: relative;
    }

    .mat-mdc-select-arrow {
        width: 8px;
        height: 4px;
    }

    .mat-mdc-select-arrow svg {
        fill: $text-black-color;
    }

    .mat-mdc-option .mat-pseudo-checkbox-minimal {
        display: none;
    }

    .mdc-list-item--selected {
        --mat-option-selected-state-layer-color: #0000001f;
    }

    .preset-select {
        .mat-mdc-select-value {
            width: calc(100% - 15px);
        }

        .mat-mdc-select-arrow-wrapper {
            padding-left: 15px;
        }
    }
}

.sequence-preset-carousel {
    overflow-y: hidden;

    .carousel-header {
        @extend .carousel-header-style;
        padding: 0px 0px 0px 20px;
        height: 70px;

        .add-icon {
            width: 24px;
        }

        .header-title {
            @extend .carousel-header-style;
            height: 16px;
            padding: 4px 0 4px 0;
            margin-left: 10px;
        }
    }

    .carousel-content {
        padding: 20px;
        height: 675px;
        max-height: 675px;
        overflow: hidden;

        .preset-content {
            padding: 20px;
            border-radius: 8px;
            background-color: $background-grey-color;

            &__left {
                .mat-mdc-form-field {
                    width: 100%;
                    margin-top: 10px;
                }

                .mat-mdc-text-field-wrapper {
                    border: 1px solid $border-grey-2;
                }

                .item-label {
                    @extend .carousel-header-label;

                    &__error{
                        color: $invalid-border;                                                
                        font-weight: $fw-regular;
                        letter-spacing: 0.6px;                        
                        margin-inline-start: 10px;
                    }
                }
            }

            &--apply-btn {
                cursor: pointer;
                margin-top: 24px;
                height: 30px;
                width: 107px;
                @include helper.font-styles($txt-md-font-size, $fw-bold, 1.25px);
                border-radius: 4px;
                border: .6px solid $text-black-color;
                padding: 0 30px;
                background: $white;
            }

            
        }
    }

    .carousel-footer {
        @extend .carousel-footer;
    }
}

.preview-item-section {
    @include horse-racing-columns;
    background-color: $body-color-p2-lighter-bg;
    overflow: hidden;
}

.inactive-dragDrop {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}