@import '../../../../../dark-theme-global-style/all-variables';

$full: 100%;
$half: 50%;

@mixin min-max-width($width) {
    min-width: $width;
    max-width: $width;

    @include breakpoint(multidesktop) {
        min-width: calc($width / 2);
        max-width: calc($width / 2);
    }
}

@mixin width-height($width, $height) {
    height: $height;
    min-width: $width;
    width: $width;

    @include breakpoint(multidesktop) {
        height: calc($height / 2);
        min-width: calc($width / 2);
        width: calc($width / 2);
    }
}

.header-status-box {
    border-radius: 25px;
    border: solid 5px $color-white;
    color: $color-white;
    font-size: $font-list-title;

    @include width-height(240px, 130px);

    @include flex-center;

    @include breakpoint(multidesktop) {
        border-radius: 12.5px;
        border-width: 2.5px;
        font-size: $txt-sm-font-size;
    }

    span {
        font-size: 40px;
        line-height: 35px;
        padding: 0;
        text-align: center;

        @include breakpoint(multidesktop) {
            font-size: 20px;
            line-height: 17.5px;
        }
    }
}

.race-wrap {
    .race-bet {
        @include flex-container(flex-end, center);

        gap: 20px;
        margin: 33.64px 0px 35px;

        @include breakpoint(multidesktop) {
            margin: 16.82px 0px 17px;
            gap: 10px;
        }

        &__name {
            color: $market-title-color;
            text-align: center;
            font-size: 44px;
            font-weight: 500;
            line-height: 31px;
            width: 240px;
            @include breakpoint(multidesktop) {
                font-size: 22px;
                line-height: 15.5px;
                width: 120px;
            }
        }
    }

    .racer-list {
        color: $color-white;
        font-size: 70px;
        font-weight: 900;
        line-height: normal;

        @include breakpoint(multidesktop) {
            font-size: 35px;
        }

        .racer-info {
            align-items: center;
            display: grid;
            grid-column-gap: 30px;
            grid-template-columns: auto 1fr;
            @include breakpoint(multidesktop) {
                grid-column-gap: 15px;
            }
            &:not(:last-child) {
                margin-bottom: 24px;
                @include breakpoint(multidesktop) {
                    margin-bottom: 12px;
                }
            }

            &__details {
                @include flex-container(flex-end, center);

                gap: 20px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background-color: $color-white;
                    z-index: 1;
                    @include breakpoint(multidesktop) {
                        height: 2px;
                    }
                }

                @include breakpoint(multidesktop) {
                    gap: 10px;
                }
            }
            &__odds {
                background-color: $color-white;
                color: $early-price-text;
                position: relative;
                z-index: 2;

                @include width-height(240px, 96px);

                @include flex-container(center, center);

                &.selection-result {
                    @include breakpoint(multidesktop) {
                        font-size: 35px;
                    }
                }
            }
        }
    }
}

html[data-domain='coral.co.uk'] {
    .header {
        .header__title--block {
            .header__title--block-left {
                .header__logo {
                    @include width-height(124px, 124px);

                    margin-right: 8px;
                    margin-top: -7px;

                    @include breakpoint(multidesktop) {
                        margin-right: 4px;
                        margin-top: -3.5px;
                    }
                    img {
                        @include width-height(108px, 108px);

                        margin: 8px;
                        object-fit: contain;

                        @include breakpoint(multidesktop) {
                            margin: 4px;
                        }
                    }
                }
            }
        }
    }
}

html[data-domain='ladbrokes.com'] {
    .header {
        .header__title--block {
            column-gap: 27.69px;
            @include breakpoint(multidesktop) {
                column-gap: 13.85px;
            }
        }
    }
    body {
        .header .header__title--block .header__title--block-left .header__title:before {
            @include breakpoint(multidesktop) {
                width: calc(100% - 11px);
            }
        }
    }
    .header-status-box.tilted-card {
        @include width-height(206px, 130px);
    }
    .race-wrap {
        .race-bet__name {
            margin-left: 15px;
            white-space: nowrap;
            width: 214.29px;
            @include breakpoint(multidesktop) {
                margin-left: 7.5px;
                width: 107.145px;
            }
        }
        .racer-list .racer-info__odds {
            margin-left: 15px;
            @include breakpoint(multidesktop) {
                margin-left: 7.5px;
            }
            @include width-height(214.29px, 96px);
        }
    }
}
