@import './src/global-style/_all-variables.scss';

.base-page-wrapper {
  font-weight: bold;
  min-height: calc(100vh - 70px);

  @include breakpoint(multidesktop) {
    padding: 0px 20px 10px;
    min-height: calc(100vh - 20px);
  }

  .head-item-1,
  .table-item-4 {
    flex-grow: 1;
  }

  .base-header-wrapper {
    background-color: $border-color;

    .lead-title {
      color: $white;
      font-size: $h3-font-size;
    }

    .main-title-row {
      display: flex;

      .main-title {
        flex-basis: 58.7%;
        color: $white;
        font-size: $h1-font-size;
        @include text-truncate;

        @include breakpoint(multidesktop) {
          font-size: $antipost-font-list-title;
          flex-basis: 80%;
        }
      }
    }

    .banner-sub-title {
      font-size: 24px;
      display: flex;
      align-items: stretch;
      flex: 1;
      border: 1px solid $body-color-p2;
      background: $white;

      .banner-sub-title-left {
        flex-basis: 50%;
        display: flex;
      }

      .banner-sub-title-right {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;
      }

      .item-head {
        display: flex;
        align-items: center;
        color: #0b4696;
      }

      .head-item-2,
      .head-item-3,
      .head-item-4,
      .head-item-5 {
        text-align: center;
        padding: 10px 0;
      }

      .head-item-1 {
        flex-basis: 100%;
        font-size: 35px;
        border-right: 0;
        padding: 10px 0 10px 10px;

        @include breakpoint(multidesktop) {
          padding: 5px 0 5px 10px;
        }

        span {
          display: flex;
          margin-right: 40px;

          &:last-child {
            margin: none;
          }
        }
      }

      .head-item-2 {
        flex-basis: 30%;
        min-width: 30%;
        border: solid $border-color 2px;
        border-right: 0;
        border-right: 0;
      }

      .head-item-3 {
        background-color: #ced7e4;
        color: $border-color-drak;
        border-left: solid $border-color 2px;
      }

      .head-item-2-primary {
        background-color: $border-color-drak;
        color: $color-p5;
        margin: 0 4px;
      }

      .head-item-2-secondary {
        background-color: $color-p2;
        color: $white;

        &.finish {
          background: $white;
          color: $color-p2;
          position: relative;
          flex-basis: 26% !important;

          .blinking {
            position: absolute;
            width: 100% !important;
            display: flex;
            justify-content: center;
          }
        }
      }

      .arrow-down:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding-bottom: 10%;
        clip-path: polygon(0% 15%, 100% 10%, 50% 100%);
      }

      .head-item-4.arrow-down:after {
        background-color: $color-p2;
      }

      .head-item-5.arrow-down:after {
        background-color: $color-p4;
      }

      .head-item-4 {
        background-color: $color-p2-light;
        color: $color-p2;
        border: solid $color-p2 2px;
        margin: 0 -1px 1px 0;
        position: relative;
      }

      .head-item-5 {
        background-color: $color-p4-light-bg;
        color: $color-p4;
        border: solid $color-p4 2px;
        margin: 0 -1px -1px 8px;
        position: relative;

        &::before {
          content: '';
          width: 8px;
          height: 105%;
          display: flex;
          background-color: $primary;
          position: absolute;
          left: -10px;
          top: -2px;
          bottom: -2px;
        }
      }

      .head-item-3,
      .head-item-4,
      .head-item-5 {
        flex-basis: 16%;
        min-width: 16%;
      }

      .head-item-2,
      .head-item-3,
      .head-item-4,
      .head-item-5 {
        justify-content: center;
      }
    }
  }

  .greyhound-table {
    list-style: none;
    padding: 10px 0px 0 0px;
    margin-block-end: 0;

    .non-runner {
      color: $text-light;
    }

    li {
      display: flex;
      align-items: stretch;
      color: $body-color-txt;



      .items {
        display: flex;
        align-items: center;
      }

      .table-item-1 {
        background-color: $color-p6;
        flex-basis: 5%;
      }

      .table-item-2 {
        font-size: 40px;
        flex-basis: 5%;
        min-width: 5%;
      }

      .table-item-3 {
        font-size: 40px;
        flex-basis: 25%;
        min-width: 23%;
      }

      .table-item-4 {
        font-size: 30px;
        background-color: $color-p6;
        flex-basis: 25%;
        min-width: 25%;

        span {
          padding-left: 20px;
        }
      }

      .table-item-5,
      .table-item-6 {
        font-size: $txt-lg-font-size;
        flex-basis: 8%;
        min-width: 8%;
      }

      .table-item-7,
      .table-item-8,
      .table-item-9 {
        font-size: 40px;
        flex-basis: 8%;
        min-width: 8%;
      }

      .table-item-7 {
        margin-right: 5px;
        background-color: $body-color-p2-light-bg;
      }

      .bg-yellow {
        background-color: $color-p5;
      }

      .bg-gray {
        background-color: $body-color-p2-light-bg;
      }

      .table-item-8 {
        background-color: $color-p2-light;
        color: $color-p2;
        margin: 0 5px;
      }

      .table-item-9 {
        background-color: $color-p4-light-bg;
        color: $color-p4;
        margin-left: 5px;

        +.table-item-9 {
          margin-left: 10px;
        }
      }

      .table-item-10,
      .table-item-11,
      .table-item-12 {
        flex-basis: 8%;
        min-width: 8%;
        font-size: 40px;
        color: $body-color-p2-lighter-bg;
      }

      .table-item-10 {
        margin-right: 5px;
      }

      .table-item-11 {
        margin: 0 5px;
      }

      .table-item-12 {
        margin-left: 5px;
      }

      .border-dark {
        border-bottom: solid $border-color-drak 1px;
      }

      .border-red {
        border-bottom: solid $color-p2 1px;
      }

      .border-green {
        border-bottom: solid $color-p4 1px;
      }

      .table-center {
        justify-content: center;
      }

      .betting-favourite {
        background-color: $color-p5;
      }
    }

    .autoScroll {
      max-height: 100px;
      overflow: auto;
      scroll-behavior: smooth;

      @include breakpoint(multidesktop) {
        max-height: 80px;
      }
    }

    .autoScroll::-webkit-scrollbar {
      display: none;
    }
  }

  .info-total {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin: 10px 0px 0 0px;

    .places {
      flex-basis: 8%;
      min-width: 8%;
      color: $color-p2;
      text-align: center;
      margin: 0 5px 0 10px;
    }

    .places.standardPlus1 {
      color: $color-p4;
    }

    .wins {
      flex-basis: 8%;
      min-width: 8%;
      color: $wins-text-color;
      text-align: center;
      margin-left: 5px;
    }

    .wins.standardPlus2 {
      color: $color-p2;
    }
  }

  .info-row {
    color: $border-color-drak;
    margin-left: 0;
    margin-right: 0;
  }
}