<div id="betPrices" class="bet-details-with-prices" *ngIf="multiMarket?.selections?.length">
  <div class="bet-details-header">
    <div id="homeTitle" class="bet-price">{{ multiMarket?.homeTitle }}</div>
    <div id="MarketTitle" class="bet-details-title">{{ multiMarket?.title }}</div>
    <div id="awayTitle" class="bet-price">{{ multiMarket?.awayTitle }}</div>
  </div>
  <div class="bet-details-item-list">
    <div id="betItems" class="bet-details-item" *ngFor="let selection of multiMarket?.selections">
      <div id="HomePrice" class="bet-price">
        {{ selection?.homePrice | prepareEvsPipe}}
      </div>
      <div id="Totaldetails" class="bet-details">
        {{ selection?.name}}  {{footBallContent?.contentParameters?.Goals}}
      </div>
      <div id="AwayPrice" class="bet-price">
        {{ selection?.awayPrice | prepareEvsPipe}}
      </div>
    </div>
  </div>
</div>