@import './src/global-style/_all-variables.scss';

.base-body-wrapper {
  background-color: $body-color-p2-lighter-bg;

  .ante-post-small-content {
    font-weight: bold;
    padding: 0 0 10px 0;

    .selection-table {
      list-style: none;
      padding: 60px 0 0 0;
      margin: 0;

      @include breakpoint(multidesktop) {
        padding: 35px 0;
        margin: 0;
      }


      li {
        display: flex;
        align-items: stretch;
        color: $body-color-p2;
        padding-bottom: 8px;

        @include breakpoint(multidesktop) {
          padding-bottom: 4px;
        }

        .items {
          display: flex;
          align-items: center;
        }

        .table-item-1 {
          background-color: $color-p6;
          font-size: $font-list-md2-title;
          padding: 10px 20px 12px 20px;
          flex: 1;
          line-height: 79px;

          @include breakpoint(multidesktop) {
            font-size: $font-list-title;
            line-height: 39px;
            padding: 5px 10px 6px 10px;
            flex-basis: unset;
            flex: 1;
          }
        }

        .table-item-2 {
          font-size: $font-list-md2-title;
          width: 182px;
          line-height: 79px;
          background-color: $body-color-p2-light-bg;
          padding: 5px 0;

          &.items {
            justify-content: center;
          }

          @include breakpoint(multidesktop) {
            font-size: $font-list-title;
            line-height: 39px;
            padding: 5px 10px 6px 10px;
            width: 70px;
            flex-basis: unset;
          }
        }
      }
    }
  }

  .ante-post-medium-content {
    font-weight: bold;
    padding: 60px 0 0 0;
    margin: 0;

    @include breakpoint(multidesktop) {
      padding: 35px 0;
    }

    .selection-table {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      column-count: 2;
      column-gap: 20px;

      li {
        display: flex;
        align-items: stretch;
        color: $body-color-p2;
        padding-bottom: 8px;
        page-break-inside: avoid;
        break-inside: avoid;

        @include breakpoint(multidesktop) {
          padding-bottom: 4px;
        }

        .items {
          display: flex;
          align-items: center;
        }

        .table-item-1 {
          background-color: $color-p6;
          flex: 1;
          font-size: $font-list-md2-title;
          padding: 10px 20px 12px 20px;
          line-height: 79px;

          @include breakpoint(multidesktop) {
            font-size: $font-list-title;
            line-height: 39px;
            padding: 5px 10px 6px 10px;
            flex-basis: unset;
            flex: 1;
          }
        }

        .table-item-2 {
          width: 182px;
          background-color: $body-color-p2-light-bg;
          font-size: $font-list-md2-title;
          line-height: 79px;

          &.items {
            justify-content: center;
          }

          @include breakpoint(multidesktop) {
            font-size: $font-list-title;
            line-height: 39px;
            width: 90px;
            flex-basis: unset;
          }
        }

        &.nonlist {
          opacity: 0;
        }
      }
    }
  }

  .ante-post-large-content {
    font-weight: bold;
    padding: 8px 0 4px;

    .selection-table {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      column-count: 2;
      column-gap: 20px;

      @include breakpoint(multidesktop) {
        margin: 0;
      }

      li {
        display: flex;
        align-items: stretch;
        color: $body-color-p2;
        padding-bottom: 4px;
        page-break-inside: avoid;
        break-inside: avoid;
        height: 72px;

        @include breakpoint(multidesktop) {
          height: 36px;
          padding-bottom: 2px;
        }

        .items {
          display: flex;
          align-items: center;
        }

        .table-item-1 {
          background-color: $color-p6;
          flex-basis: 85%;
          font-size: $font-list-lg-title-avr;
          padding: 0 0 0 12px;
          //line-height: 76px;

          @include breakpoint(multidesktop) {
            font-size: $txt-lg-font1-size;
            padding: 3.5px 0 3.5px 10px;
            //line-height: 26px;
          }
        }

        .table-item-2 {
          flex-basis: 15%;
          background-color: $body-color-p2-light-bg;
          padding: 0 8px;
          //line-height: 76px;
          font-size: $font-list-lg-title-avr;

          &.items {
            justify-content: center;
          }

          @include breakpoint(multidesktop) {
            font-size: $txt-lg-font1-size;
            padding: 3.5px 4px;
            line-height: 26px;
          }
        }

        &.nonlist {
          opacity: 0;
        }
      }
    }
  }

  .ante-post-pagination-content {
    font-weight: bold;
    padding: 8px 0 4px;

    @include breakpoint(multidesktop) {
      padding: 10px 0;
    }

    .selection-table {
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
      column-count: 2;
      column-gap: 20px;

      li {
        display: flex;
        align-items: stretch;
        color: $body-color-p2;
        font-size: $font-list-title;
        padding-bottom: 4px;
        page-break-inside: avoid;
        break-inside: avoid;
        height: 72px;

        @include breakpoint(multidesktop) {
          height: 36px;
          padding-bottom: 2px;
        }

        .items {
          display: flex;
          align-items: center;
        }

        .table-item-1 {
          background-color: $color-p6;
          flex-basis: 85%;
          font-size: $font-list-lg-title-avr;
          padding: 0 15px;

          @include breakpoint(multidesktop) {
            font-size: $txt-lg-font1-size;
            padding: 0 7px;
          }
        }

        .table-item-2 {
          font-size: $font-list-lg-title-avr;
          flex-basis: 20%;
          background-color: $body-color-p2-light-bg;

          &.items {
            justify-content: center;
          }

          @include breakpoint(multidesktop) {
            font-size: $txt-lg-font1-size;
            //flex-basis: 20%;
          }
        }

        &.nonlist {
          opacity: 0;
        }
      }
    }
  }

}

.banner-sub-title {
  display: flex;
  align-items: stretch;
  flex: 1;
  border: 1px solid $body-color-p2;
  background: $white;
  height: 60px;
  font-size: $txt-sm-font1-size;
  box-sizing: border-box;

  @include breakpoint(multidesktop) {
    font-size: $txt-md-font-size;
    height: 30px;
  }

  .banner-sub-title-left {
    min-width: 50%;
    display: flex;
    align-items: center;
    color: $body-color-txt;
    padding-left: 20px;
    font-size: $font-list-lg1-title;

    @include breakpoint(multidesktop) {
      font-size: $txt-md-font-size;
      padding: 0 0 0 10px;
    }
  }

  .banner-sub-title-right {
    //flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $body-color-txt;
    font-size: $font-list-lg1-title;

    @include breakpoint(multidesktop) {
      font-size: $txt-md-font-size;
    }

    .subtitle-text {
      padding-right: 20px;

      @include breakpoint(multidesktop) {
        padding-right: 10px;
      }
    }
  }
}