@import './src/global-style/_all-variables.scss';

.result-custom-banner {
  .banner-title-block {
    height: 132px;
    background-color: $color-p1-bg;

    @include breakpoint(multidesktop) {
      height: 66px;
    }
    @include breakpoint(multidesktophalf) {
      height: 66px;
    }
  }

  .lead-title {
    color: $white;
    font-size: $h4-lg-font-size;
    padding-left: 20px;
    padding-top: 3px;

    @include breakpoint(multidesktop) {
      padding: 2px 0px 0px 10px;
      font-size: $txt-md-font-size;
    }
    @include breakpoint(multidesktophalf) {
      padding: 2px 0px 0px 10px;
      font-size: $txt-md-font-size;
    }
  }

  .main-title-row {
    display: flex;

    .main-title {
      color: $white;
      font-size: $h1-lg-font-size;
      padding-left: 20px;
      @include text-truncate;

      @include breakpoint(multidesktop) {
        font-size: $txt-xl-font-size;
        padding: 0 0 0 10px;
      }
      @include breakpoint(multidesktophalf) {
        font-size: $txt-xl-font-size;
        padding: 0 0 0 10px;
      }
    }
  }

  .banner-sub-title {
    font-size: $txt-md-font-size;
    display: flex;
    align-items: stretch;
    flex: 1;
    border: 1px solid $body-color-p2;
    background: $white;
    height: 60px;
    box-sizing: border-box;

    @include breakpoint(multidesktop) {
      height: 30px;
      font-size: $txt-md-font-size;
    }
    @include breakpoint(multidesktophalf) {
      height: 30px;
      font-size: $txt-md-font-size;
    }
    .banner-sub-title-left {
      flex-basis: 50%;
      display: flex;
      font-size: $font-list-lg1-title;
      padding-left: 20px;
      box-sizing: border-box;

      @include breakpoint(multidesktop) {
        font-size: $txt-md-font-size;
        padding-left: 10px;
      }
      @include breakpoint(multidesktophalf) {
        font-size: $txt-md-font-size;
        padding-left: 10px;
      }
      .item-head {
        display: flex;
        align-items: center;
        color: $body-color-txt;

        span {
          display: flex;
          margin-right: 40px;
          white-space: nowrap;

          @include breakpoint(multidesktop) {
            margin-right: 20px;
          }
          @include breakpoint(multidesktophalf) {
            margin-right: 20px;
          }
          &:last-child {
            margin: none;
          }
        }
      }
    }

    .banner-sub-title-right {
      flex-basis: 50%;
      display: flex;
      justify-content: flex-end;

      .head-item-2-secondary {
        background-color: $color-p2;
        color: $white;
        flex-basis: 320px;
        font-size: $font-list-title;
        white-space: nowrap;
        box-sizing: border-box;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: solid $border-color 1px;

        @include breakpoint(multidesktop) {
          flex-basis: 160px;
          font-size: $txt-sm-font-size;
        }
        @include breakpoint(multidesktophalf) {
          flex-basis: 180px;
          font-size: $txt-sm-font-size;
        }
      }
    }
  }
}

.greyhound-table {
  list-style: none;
  padding: 30px 0 0;
  margin: 0;

  @include breakpoint(multidesktop) {
    margin: 0;
    padding: 10px 0;
  }
  @include breakpoint(multidesktophalf) {
    margin: 0;
    padding: 20px 0;
  }
  li {
    display: flex;
    align-items: stretch;
    color: $body-color-txt;
    height: 74px;
    @include breakpoint(multidesktop) {
      height: 38px;
    }
    @include breakpoint(multidesktophalf) {
      height: 70px;
    }
    .items {
      display: flex;
      align-items: center;
      .text-center {
        display: flex;
        justify-content: center;
        min-width: 100%;
      }
    }

    .table-item-1 {
      flex-basis: 5%;
      min-width: 5%;
      justify-content: center;
      padding: 10px 0;
      @include breakpoint(multidesktop) {
        font-size: $txt-md-font1-size;
        padding: 5px 0;
      }
      @include breakpoint(multidesktophalf) {
        flex-basis: 40px;
        font-size: $txt-md-font1-size;
        padding: 5px 0;
      }
      &.traps {
        min-width: unset;

        img {
          height: 60px;
          @include breakpoint(multidesktop) {
            height: 30px;
          }
          @include breakpoint(multidesktophalf) {
            height: 40px;
          }
        }
      }
    }

    .table-item-2 {
      font-size: $txt-lg-title-size;
      flex-basis: 15%;
      min-width: 15%;

      @include breakpoint(multidesktop) {
        font-size: $txt-lg-font-size;
      }
      @include breakpoint(multidesktophalf) {
        flex-basis: 15%;
        min-width: 15%;
        font-size: $h5-lg-font-size;
      }
    }

    .table-item-3 {
      font-size: $txt-lg-title-size;
      flex-basis: 32%;
      min-width: 32%;
      flex: 1;
      padding-left: 35px;

      @include breakpoint(multidesktop) {
        font-size: $txt-lg-font-size;
      }
      @include breakpoint(multidesktophalf) {
        font-size: $h5-lg-font-size;
        padding-left: 50px;
      }
      &.form-entry {
        max-width: 45%;
      }

      &.form-entry-count {
        background-color: $white;
        font-size: $txt-md-font2-size;
        @include breakpoint(multidesktop) {
          font-size: $txt-sm-font1-size;
        }

      }

      .reserve-tag {
        display: grid;
        place-items: center;
        background-color: $primary;
        color: $white;
        font-size: $txt-sm-font2-size;
        margin-left: 50px;
        width: 109px;
        height: 37px;
        font-size: $h2-md-font-size;

        @include breakpoint(multidesktop) {
          margin-left: 25px;
          width: 54px;
          height: 18px;
          font-size: $txt-sm-font2-size;
        }
        @include breakpoint(multidesktophalf) {
          margin-left: 25px;
          width: 76px;
          height: 28px;
          font-size: $txt-md-font-size;
        }
      }
    }

    // .table-item-4 {
    //   font-size: $txt-md-font-size;
    //   flex-basis: 25%;
    //   min-width: 25%;
    //   @include breakpoint(multidesktop){
    //     font-size: $txt-sm-font-size;
    //   }

    //   span {
    //     padding-left: 20px;
    //   }
    // }

    .table-item-5 {
      font-size: $txt-lg-title-size;
      flex-basis: 15%;
      min-width: 15%;
      @include breakpoint(multidesktop) {
        font-size: $txt-lg-font-size;
      }
      @include breakpoint(multidesktophalf) {
        font-size: $h5-lg-font-size;
      }
    }
    .table-item-7 {
      font-size: $txt-lg-title-size;
      flex-basis: 122px;
      justify-content: center;
      @include breakpoint(multidesktop) {
        font-size: $txt-lg-font-size;
        flex-basis: 60px;
      }
      @include breakpoint(multidesktophalf) {
        font-size: $h5-lg-font-size;
        flex-basis: 68px;
      }
    }
    .border-dark {
      border-bottom: solid $body-color-p2 1px;
    }
  }
}

.betting-favourite {
  background-color: $color-p5;
  max-width: 121px;
}

.castSec {
  padding: 70px 0 0;
  @include breakpoint(multidesktop) {
    padding: 30px 0 0;
  }
  @include breakpoint(multidesktophalf) {
    padding: 30px 0 0;
  }
}

.cast {
  font-size: $txt-forecast;
  color: $color-p1-dark;
  padding: 6px 0;
  display: flex;

  @include breakpoint(multidesktop) {
    font-size: $antipost-font-list-title;
  }
  @include breakpoint(multidesktophalf) {
    font-size: ($txt-lg-font1-size - 1px);
  }
  span {
    display: flex;
    min-width: 70px;
    &:nth-child(1) {
      width: 220px;
      @include breakpoint(multidesktop) {
        width: 110px;
      }
      @include breakpoint(multidesktophalf) {
        width: 140px;
      }
    }
  }
}
