@import '../../../../dark-theme-global-style/all-variables';

.header {
    height: $header-full-height;

    @include breakpoint(multidesktop) {
        height: $header-quad-height;
    }

    .header__title--block {
        height: $header-full-height;
        display: flex;
        column-gap: 20px;
        text-transform: uppercase;

        @include breakpoint(multidesktop) {
            height: $header-quad-height;
            column-gap: 10px;
        }

        .header__title--block-left {
            flex-grow: 1;
            display: flex;
            align-items: center;

            .header__logo {
                display: flex;

                img {
                    height: 124px;
                    width: 124px;
                    margin-right: 16px;

                    @include breakpoint(multidesktop) {
                        width: 62px;
                        height: 62px;
                        margin-right: 8px;
                    }
                }
            }

            .header__title {
                font-size: $fs-full-lead-title;
                font-family: $ff-header-title;
                color: $color-white;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                overflow: hidden;

                @include breakpoint(multidesktop) {
                    font-size: $fs-quad-lead-title;
                }

                .header__title--content {
                    width: 100%;
                    display: flex;
                    column-gap: 30px;
                    align-items: center;
                    height: 100%;
                    line-height: 100%;

                    @include breakpoint(multidesktop) {
                        column-gap: 15px;
                    }
                }

                .event-title {
                    max-width: 1085px;
                    width: 100%;

                    @include text-truncate;

                    @include breakpoint(multidesktop) {
                        max-width: 542.5px;
                    }

                    &.extend-width {
                        max-width: 1310px;

                        @include breakpoint(multidesktop) {
                            max-width: 655px;
                        }
                    }
                }
            }
        }

        .header__title--block-right {
            display: flex;
            line-height: 1.02;

            .header-current-price {
                border: solid 5px $color-white;

                @include breakpoint(multidesktop) {
                    border: solid 2.5px $color-white;
                }

                &.filled-bg-white {
                    background-color: $color-white;
                    color: $early-price-text;
                }
            }

            .header-plus1-market {
                border: solid 5px $top-2-finish-bg;
                background-color: $top-2-finish-bg;
                color: $color-white;
                padding: 0 12px;

                @include breakpoint(multidesktop) {
                    border: solid 2.5px $top-2-finish-bg;
                }

                &.betting-bg {
                    background: $betting-bg;
                    border-color: $betting-bg;
                }
            }

            .header-current-price,
            .header-plus1-market {
                @include flex-center;
                text-align: center;
                height: $header-full-height;
                font-size: $fs-full-early-price;

                @include breakpoint(multidesktop) {
                    height: $header-quad-height;
                    font-size: $fs-quad-early-price;
                    border-width: 2.5px;
                }
            }

            .status__text {
                font-family: $ff-roboto-condensed;
            }
        }
    }
}

//Specific to ladbrokes
html[data-domain*='ladbrokes.com'] {
    .header {
        .header__title--block {
            .header__title--block-left {
                .header__title {
                    position: relative;
                    font-weight: $fw-normal;
                    padding-left: 24px;
                    line-height: $header-full-height;
                    padding-bottom: 22px;

                    @include breakpoint(multidesktop) {
                        line-height: $header-quad-height;
                        padding-left: 12px;
                        padding-bottom: 11px;
                    }

                    .header__title--content {
                        padding-left: 60px;

                        @include breakpoint(multidesktop) {
                            padding-left: 30px;
                        }
                    }

                    &:before {
                        position: absolute;
                        content: '';
                        top: -4px;
                        border: solid 5px $color-white;
                        border-top: none;
                        border-right: none;
                        border-radius: 0 0 0 36px;
                        transform: skewX(-$tilted-angle);
                        width: calc(100% - 22px);
                        height: 100%;

                        @include breakpoint(multidesktop) {
                            top: -2px;
                            left: 11px;
                            border-width: 2.5px;
                            border-radius: 0 0 0 18px;
                        }
                    }
                }
            }

            .header__title--block-right {
                padding-right: 6px;
                column-gap: 32px;
                letter-spacing: -1px;

                @include breakpoint(multidesktop) {
                    column-gap: 16px;
                    letter-spacing: -0.5px;
                }

                @include breakpoint(multidesktophalf) {
                    column-gap: 18px;
                }

                @include breakpoint(multidesktop) {
                    padding-right: 3px;
                }

                .header-current-price,
                .header-plus1-market,
                .header-race-stage-result {
                    border-radius: 0 25px;
                    width: 206px;

                    @include breakpoint(multidesktop) {
                        border-radius: 0px 12.5px;
                        width: 103px;
                    }
                }

                .header-race-stage-result {
                    margin-right: 6px;
                    @include breakpoint(multidesktop) {
                        width: 103.2px;
                        margin-right: 3px;
                    }
                }

                .header-current-price {
                    padding: 0 22px;

                    @include breakpoint(multidesktop) {
                        padding: 0 11px;
                    }

                    @include breakpoint(multidesktophalf) {
                        padding: 0 11px;
                    }
                }

                .header-current-price-manual {
                    padding: 0 22px;

                    @include breakpoint(multidesktop) {
                        padding: 0 11px;
                    }

                    @include breakpoint(multidesktophalf) {
                        padding: 0 11px;
                    }
                }
            }
        }

        &.horse-template-header {
            .header__title--block {
                .header__title--block-left {
                    .header__logo {
                        img {
                            margin-right: 22px;

                            @include breakpoint(multidesktop) {
                                margin-right: 11px;
                            }
                        }
                    }
                }

                .header__title--block-right {
                    @include breakpoint(multidesktophalf) {
                        column-gap: 16px;
                    }

                    .header-current-price,
                    .header-plus1-market,
                    .header-race-stage-result {
                        width: 200px;
                        padding: 0 18px;

                        @include breakpoint(multidesktop) {
                            width: 100px;
                            padding: 0 9px;
                        }

                        @include breakpoint(multidesktophalf) {
                            padding: 0 9px;
                        }
                    }

                    .header-race-stage-result {
                        margin-right: 6px;
                        @include breakpoint(multidesktop) {
                            margin-right: 3px;
                            width: 100px;
                            padding: 0 6px 0 8px;
                        }

                        @include breakpoint(multidesktophalf) {
                            margin-right: 3px;
                            padding: 0 6px;
                        }
                    }
                }
            }
        }
    }
}

//Specific to coral
html[data-domain*='coral.co.uk'] {
    .header {
        .header__title--block {
            .header__title--block-left {
                border-bottom: solid 5px $color-white;

                @include breakpoint(multidesktop) {
                    border-width: 2.5px;
                }

                .header__title {
                    font-weight: $fw-bold;
                    padding-left: 24px;

                    @include breakpoint(multidesktop) {
                        padding-left: 12px;
                    }

                    &--content {
                        span {
                            line-height: 135px;
                            @include breakpoint(multidesktop) {
                                line-height: 67.5px;
                            }
                        }
                    }
                }
            }

            .header__title--block-right {
                column-gap: 20px;

                @include breakpoint(multidesktop) {
                    column-gap: 10px;
                }

                .header-current-price {
                    padding: 0 26px;

                    @include breakpoint(multidesktop) {
                        padding: 0 16px;
                    }

                    @include breakpoint(multidesktophalf) {
                        padding: 0 13px;
                    }
                }
            }
        }
    }
}
