<div>
    <ng-container *ngIf="nflCDSContent$ | async as vm">
        <ng-container *ngIf="!(errorMessage$ | async)">
        <gn-base-page>
          <ng-container header-content>
            <gn-banner [leadTitle]="vm?.competitionName" [title]="vm?.title"
              [subtitleLeft]="vm?.eventStartDate | sportEventDateFormat: vm?.content" >
            </gn-banner>
          </ng-container>

          <ng-container body-content>
            <div id="tMarkets" class="nfl-bet" *ngFor="let market of vm?.games">
              <div class="marketContent match-betting">
                <h2 id="matchBetting">{{ market?.gameName }}</h2> 
                  <ng-container class="market-left">
                    <div class="market-left-content">
                      <span id="homeBettingPrice" class="betting-price">
                        {{ market?.matchBetting?.homeBettingPrice| prepareEvsPipe}}
                      </span>
                      <span id="homePlayer" class="betting-team">
                        {{ market?.matchBetting?.homePlayer }}
                     </span>
                    </div>
                  </ng-container>
                  <ng-container class="market-right">
                    <div class="market-right-content">
                      <span id="awayPlayer" class="betting-team">
                        {{ market?.matchBetting?.awayPlayer }}
                      </span>
                      <span id="awayBettingPrice" class="betting-price">
                        {{ market?.matchBetting?.awayBettingPrice | prepareEvsPipe }}
                      </span>
                    </div>
                  </ng-container>
              </div>
            </div>
          </ng-container> 
          <ng-container footer-content>
            <gn-footer [leftSideText]="vm?.content?.contentParameters?.LeftStipulatedLine"> </gn-footer>
          </ng-container>
        </gn-base-page>
      </ng-container>
    </ng-container>
  <gn-error [errorMessage$]="errorMessage$"></gn-error>
  </div>
