<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <system.web>
    <httpRuntime maxUrlLength="40960" maxQueryStringLength="2097151" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" maxUrl="40960" maxQueryString="2097151" />
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="..\..\..\dist\backend\gantry\Frontend.Gantry.Host\Frontend.Gantry.Host.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.WebTools.ApiEndpointDiscovery" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="c:\program files\microsoft visual studio\2022\professional\common7\ide\extensions\microsoft\web tools\projectsystem\Microsoft.WebTools.ApiEndpointDiscovery.dll" />
          <environmentVariable name="APIDISCOVERY_FILEPATH" value="C:\dev\monorepo\dist/intermediates/backend\gantry\Frontend.Gantry.Host/obj\ApiEndpoints.json" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="dev" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>