@mixin current {
    --ds-pill-active-color-bg: var(--semantic-color-l2-pill-current-background-active);
    --ds-pill-active-color-border: var(--semantic-color-l2-pill-current-border-active);
    --ds-pill-active-color-chevron: var(--semantic-color-l2-pill-current-on-background-base);
    --ds-pill-active-color-icon: var(--semantic-color-l2-pill-current-on-background-base);
    --ds-pill-active-color-text: var(--semantic-color-l2-pill-current-on-background-base);
    --ds-pill-disabled-color-bg: var(--semantic-color-opacity-transparent);
    --ds-pill-disabled-color-border: var(--semantic-color-disabled-outline);
    --ds-pill-disabled-color-chevron: var(--semantic-color-on-disabled-outline);
    --ds-pill-disabled-color-icon: var(--semantic-color-on-disabled-outline);
    --ds-pill-disabled-color-text: var(--semantic-color-on-disabled-outline);
    --ds-pill-enabled-color-bg: var(--semantic-color-l2-pill-current-background-base);
    --ds-pill-enabled-color-border: var(--semantic-color-l2-pill-current-border-base);
    --ds-pill-enabled-color-chevron: var(--semantic-color-l2-pill-current-on-background-base);
    --ds-pill-enabled-color-icon: var(--semantic-color-l2-pill-current-on-background-base);
    --ds-pill-enabled-color-text: var(--semantic-color-l2-pill-current-on-background-base);
    --ds-pill-hover-color-bg: var(--semantic-color-l2-pill-current-background-hover);
    --ds-pill-hover-color-border: var(--semantic-color-l2-pill-current-border-hover);
    --ds-pill-hover-color-chevron: var(--semantic-color-l2-pill-current-on-background-base);
    --ds-pill-hover-color-icon: var(--semantic-color-l2-pill-current-on-background-base);
    --ds-pill-hover-color-text: var(--semantic-color-l2-pill-current-on-background-base);
    --ds-pill-selected-color-bg: var(--semantic-color-l2-pill-current-background-selected);
    --ds-pill-selected-color-border: var(--semantic-color-l2-pill-current-border-selected);
    --ds-pill-selected-color-chevron: var(--semantic-color-l2-pill-current-on-background-selected);
    --ds-pill-selected-color-icon: var(--semantic-color-l2-pill-current-on-background-selected);
    --ds-pill-selected-color-text: var(--semantic-color-l2-pill-current-on-background-selected);
}

@mixin current-inverse {
    --ds-pill-active-color-bg: var(--semantic-color-l2-pill-current-background-active-inverse);
    --ds-pill-active-color-border: var(--semantic-color-l2-pill-current-border-active-inverse);
    --ds-pill-active-color-chevron: var(--semantic-color-l2-pill-current-on-background-base-inverse);
    --ds-pill-active-color-icon: var(--semantic-color-l2-pill-current-on-background-base-inverse);
    --ds-pill-active-color-text: var(--semantic-color-l2-pill-current-on-background-base-inverse);
    --ds-pill-disabled-color-bg: var(--semantic-color-opacity-transparent);
    --ds-pill-disabled-color-border: var(--semantic-color-disabled-outline-inverse);
    --ds-pill-disabled-color-chevron: var(--semantic-color-on-disabled-outline-inverse);
    --ds-pill-disabled-color-icon: var(--semantic-color-on-disabled-outline-inverse);
    --ds-pill-disabled-color-text: var(--semantic-color-on-disabled-outline-inverse);
    --ds-pill-enabled-color-bg: var(--semantic-color-l2-pill-current-background-base-inverse);
    --ds-pill-enabled-color-border: var(--semantic-color-l2-pill-current-border-base-inverse);
    --ds-pill-enabled-color-chevron: var(--semantic-color-l2-pill-current-on-background-base-inverse);
    --ds-pill-enabled-color-icon: var(--semantic-color-l2-pill-current-on-background-base-inverse);
    --ds-pill-enabled-color-text: var(--semantic-color-l2-pill-current-on-background-base-inverse);
    --ds-pill-hover-color-bg: var(--semantic-color-l2-pill-current-background-hover-inverse);
    --ds-pill-hover-color-border: var(--semantic-color-l2-pill-current-border-hover-inverse);
    --ds-pill-hover-color-chevron: var(--semantic-color-l2-pill-current-on-background-base-inverse);
    --ds-pill-hover-color-icon: var(--semantic-color-l2-pill-current-on-background-base-inverse);
    --ds-pill-hover-color-text: var(--semantic-color-l2-pill-current-on-background-base-inverse);
    --ds-pill-selected-color-bg: var(--semantic-color-l2-pill-current-background-selected-inverse);
    --ds-pill-selected-color-border: var(--semantic-color-l2-pill-current-border-selected-inverse);
    --ds-pill-selected-color-chevron: var(--semantic-color-l2-pill-current-on-background-selected-inverse);
    --ds-pill-selected-color-icon: var(--semantic-color-l2-pill-current-on-background-selected-inverse);
    --ds-pill-selected-color-text: var(--semantic-color-l2-pill-current-on-background-selected-inverse);
}

@mixin medium {
    --ds-pill-height: var(--semantic-size-x8);
    --ds-pill-icon-size: var(--semantic-size-x4);
    --ds-pill-medium-with-counter-padding-right: var(--semantic-spacing-container-padding-sm);
    --ds-pill-padding-bottom: var(--semantic-spacing-container-padding-none);
    --ds-pill-padding-left: var(--semantic-spacing-container-padding-xl);
    --ds-pill-padding-right: var(--semantic-spacing-container-padding-xl);
    --ds-pill-padding-top: var(--semantic-spacing-container-padding-none);
}

@mixin shared {
    --ds-pill-inline: var(--semantic-spacing-stack-sm);
    --ds-pill-radius: var(--semantic-radius-l2-pill);
    --ds-pill-tap-target: var(--semantic-size-x11);
}

@mixin small {
    --ds-pill-height: var(--semantic-size-x6);
    --ds-pill-icon-size: var(--semantic-size-x3);
    --ds-pill-padding-bottom: var(--semantic-spacing-container-padding-none);
    --ds-pill-padding-left: var(--semantic-spacing-container-padding-lg);
    --ds-pill-padding-right: var(--semantic-spacing-container-padding-lg);
    --ds-pill-padding-top: var(--semantic-spacing-container-padding-none);
    --ds-pill-small-with-counter-padding-right: var(--semantic-spacing-container-padding-sm);
}

@mixin strong {
    --ds-pill-active-color-bg: var(--semantic-color-l2-pill-strong-background-active);
    --ds-pill-active-color-border: var(--semantic-color-l2-pill-strong-border-active);
    --ds-pill-active-color-chevron: var(--semantic-color-l2-pill-strong-on-background-base);
    --ds-pill-active-color-icon: var(--semantic-color-l2-pill-strong-on-background-base);
    --ds-pill-active-color-text: var(--semantic-color-l2-pill-strong-on-background-base);
    --ds-pill-disabled-color-bg: var(--semantic-color-opacity-transparent);
    --ds-pill-disabled-color-border: var(--semantic-color-disabled-outline);
    --ds-pill-disabled-color-chevron: var(--semantic-color-on-disabled-outline);
    --ds-pill-disabled-color-icon: var(--semantic-color-on-disabled-outline);
    --ds-pill-disabled-color-text: var(--semantic-color-on-disabled-outline);
    --ds-pill-enabled-color-bg: var(--semantic-color-l2-pill-strong-background-base);
    --ds-pill-enabled-color-border: var(--semantic-color-l2-pill-strong-border-base);
    --ds-pill-enabled-color-chevron: var(--semantic-color-l2-pill-strong-on-background-base);
    --ds-pill-enabled-color-icon: var(--semantic-color-l2-pill-strong-on-background-base);
    --ds-pill-enabled-color-text: var(--semantic-color-l2-pill-strong-on-background-base);
    --ds-pill-hover-color-bg: var(--semantic-color-l2-pill-strong-background-hover);
    --ds-pill-hover-color-border: var(--semantic-color-l2-pill-strong-border-hover);
    --ds-pill-hover-color-chevron: var(--semantic-color-l2-pill-strong-on-background-base);
    --ds-pill-hover-color-icon: var(--semantic-color-l2-pill-strong-on-background-base);
    --ds-pill-hover-color-text: var(--semantic-color-l2-pill-strong-on-background-base);
    --ds-pill-selected-color-bg: var(--semantic-color-l2-pill-strong-background-selected);
    --ds-pill-selected-color-border: var(--semantic-color-l2-pill-strong-border-selected);
    --ds-pill-selected-color-chevron: var(--semantic-color-l2-pill-strong-on-background-selected);
    --ds-pill-selected-color-icon: var(--semantic-color-l2-pill-strong-on-background-selected);
    --ds-pill-selected-color-text: var(--semantic-color-l2-pill-strong-on-background-selected);
}

@mixin strong-inverse {
    --ds-pill-active-color-bg: var(--semantic-color-l2-pill-strong-background-active-inverse);
    --ds-pill-active-color-border: var(--semantic-color-l2-pill-strong-border-active-inverse);
    --ds-pill-active-color-chevron: var(--semantic-color-l2-pill-strong-on-background-base-inverse);
    --ds-pill-active-color-icon: var(--semantic-color-l2-pill-strong-on-background-base-inverse);
    --ds-pill-active-color-text: var(--semantic-color-l2-pill-strong-on-background-base-inverse);
    --ds-pill-disabled-color-bg: var(--semantic-color-opacity-transparent);
    --ds-pill-disabled-color-border: var(--semantic-color-disabled-outline-inverse);
    --ds-pill-disabled-color-chevron: var(--semantic-color-on-disabled-outline-inverse);
    --ds-pill-disabled-color-icon: var(--semantic-color-on-disabled-outline-inverse);
    --ds-pill-disabled-color-text: var(--semantic-color-on-disabled-outline-inverse);
    --ds-pill-enabled-color-bg: var(--semantic-color-l2-pill-strong-background-base-inverse);
    --ds-pill-enabled-color-border: var(--semantic-color-l2-pill-strong-border-base-inverse);
    --ds-pill-enabled-color-chevron: var(--semantic-color-l2-pill-strong-on-background-base-inverse);
    --ds-pill-enabled-color-icon: var(--semantic-color-l2-pill-strong-on-background-base-inverse);
    --ds-pill-enabled-color-text: var(--semantic-color-l2-pill-strong-on-background-base-inverse);
    --ds-pill-hover-color-bg: var(--semantic-color-l2-pill-strong-background-hover-inverse);
    --ds-pill-hover-color-border: var(--semantic-color-l2-pill-strong-border-hover-inverse);
    --ds-pill-hover-color-chevron: var(--semantic-color-l2-pill-strong-on-background-base-inverse);
    --ds-pill-hover-color-icon: var(--semantic-color-l2-pill-strong-on-background-base-inverse);
    --ds-pill-hover-color-text: var(--semantic-color-l2-pill-strong-on-background-base-inverse);
    --ds-pill-selected-color-bg: var(--semantic-color-l2-pill-strong-background-selected-inverse);
    --ds-pill-selected-color-border: var(--semantic-color-l2-pill-strong-border-selected-inverse);
    --ds-pill-selected-color-chevron: var(--semantic-color-l2-pill-strong-on-background-selected-inverse);
    --ds-pill-selected-color-icon: var(--semantic-color-l2-pill-strong-on-background-selected-inverse);
    --ds-pill-selected-color-text: var(--semantic-color-l2-pill-strong-on-background-selected-inverse);
}

@mixin subtle {
    --ds-pill-active-color-bg: var(--semantic-color-l2-pill-subtle-background-active);
    --ds-pill-active-color-border: var(--semantic-color-l2-pill-subtle-border-active);
    --ds-pill-active-color-chevron: var(--semantic-color-l2-pill-subtle-on-background-base);
    --ds-pill-active-color-icon: var(--semantic-color-l2-pill-subtle-on-background-base);
    --ds-pill-active-color-text: var(--semantic-color-l2-pill-subtle-on-background-base);
    --ds-pill-disabled-color-bg: var(--semantic-color-opacity-transparent);
    --ds-pill-disabled-color-border: var(--semantic-color-disabled-outline);
    --ds-pill-disabled-color-chevron: var(--semantic-color-on-disabled-outline);
    --ds-pill-disabled-color-icon: var(--semantic-color-on-disabled-outline);
    --ds-pill-disabled-color-text: var(--semantic-color-on-disabled-outline);
    --ds-pill-enabled-color-bg: var(--semantic-color-l2-pill-subtle-background-base);
    --ds-pill-enabled-color-border: var(--semantic-color-l2-pill-subtle-border-base);
    --ds-pill-enabled-color-chevron: var(--semantic-color-l2-pill-subtle-on-background-base);
    --ds-pill-enabled-color-icon: var(--semantic-color-l2-pill-subtle-on-background-base);
    --ds-pill-enabled-color-text: var(--semantic-color-l2-pill-subtle-on-background-base);
    --ds-pill-hover-color-bg: var(--semantic-color-l2-pill-subtle-background-hover);
    --ds-pill-hover-color-border: var(--semantic-color-l2-pill-subtle-border-hover);
    --ds-pill-hover-color-chevron: var(--semantic-color-l2-pill-subtle-on-background-base);
    --ds-pill-hover-color-icon: var(--semantic-color-l2-pill-subtle-on-background-base);
    --ds-pill-hover-color-text: var(--semantic-color-l2-pill-subtle-on-background-base);
    --ds-pill-selected-color-bg: var(--semantic-color-l2-pill-subtle-background-selected);
    --ds-pill-selected-color-border: var(--semantic-color-l2-pill-subtle-border-selected);
    --ds-pill-selected-color-chevron: var(--semantic-color-l2-pill-subtle-on-background-selected);
    --ds-pill-selected-color-icon: var(--semantic-color-l2-pill-subtle-on-background-selected);
    --ds-pill-selected-color-text: var(--semantic-color-l2-pill-subtle-on-background-selected);
}

@mixin subtle-inverse {
    --ds-pill-active-color-bg: var(--semantic-color-l2-pill-subtle-background-active-inverse);
    --ds-pill-active-color-border: var(--semantic-color-l2-pill-subtle-border-active-inverse);
    --ds-pill-active-color-chevron: var(--semantic-color-l2-pill-subtle-on-background-base-inverse);
    --ds-pill-active-color-icon: var(--semantic-color-l2-pill-subtle-on-background-base-inverse);
    --ds-pill-active-color-text: var(--semantic-color-l2-pill-subtle-on-background-base-inverse);
    --ds-pill-disabled-color-bg: var(--semantic-color-opacity-transparent);
    --ds-pill-disabled-color-border: var(--semantic-color-disabled-outline-inverse);
    --ds-pill-disabled-color-chevron: var(--semantic-color-on-disabled-outline-inverse);
    --ds-pill-disabled-color-icon: var(--semantic-color-on-disabled-outline-inverse);
    --ds-pill-disabled-color-text: var(--semantic-color-on-disabled-outline-inverse);
    --ds-pill-enabled-color-bg: var(--semantic-color-l2-pill-subtle-background-base-inverse);
    --ds-pill-enabled-color-border: var(--semantic-color-l2-pill-subtle-border-base-inverse);
    --ds-pill-enabled-color-chevron: var(--semantic-color-l2-pill-subtle-on-background-base-inverse);
    --ds-pill-enabled-color-icon: var(--semantic-color-l2-pill-subtle-on-background-base-inverse);
    --ds-pill-enabled-color-text: var(--semantic-color-l2-pill-subtle-on-background-base-inverse);
    --ds-pill-hover-color-bg: var(--semantic-color-l2-pill-subtle-background-hover-inverse);
    --ds-pill-hover-color-border: var(--semantic-color-l2-pill-subtle-border-hover-inverse);
    --ds-pill-hover-color-chevron: var(--semantic-color-l2-pill-subtle-on-background-base-inverse);
    --ds-pill-hover-color-icon: var(--semantic-color-l2-pill-subtle-on-background-base-inverse);
    --ds-pill-hover-color-text: var(--semantic-color-l2-pill-subtle-on-background-base-inverse);
    --ds-pill-selected-color-bg: var(--semantic-color-l2-pill-subtle-background-selected-inverse);
    --ds-pill-selected-color-border: var(--semantic-color-l2-pill-subtle-border-selected-inverse);
    --ds-pill-selected-color-chevron: var(--semantic-color-l2-pill-subtle-on-background-selected-inverse);
    --ds-pill-selected-color-icon: var(--semantic-color-l2-pill-subtle-on-background-selected-inverse);
    --ds-pill-selected-color-text: var(--semantic-color-l2-pill-subtle-on-background-selected-inverse);
}
