@import '../../../../../dark-theme-global-style/_all-variables.scss';
@import '../../../../../dark-theme-global-style/mixins/_traps.scss';

.avr-preamble-table {
    margin: 38px 0 0;
    width: 100%;

    @include breakpoint(multidesktop) {
        margin: 19px 0 0;
    }

    &.selection-number-12 {
        column-count: 2;
        column-gap: 52px;

        @include breakpoint(multidesktop) {
            column-gap: 26px;
        }
    }

    li {
        width: 864px;
        height: 90px;
        display: flex;
        align-items: center;
        margin-bottom: 44px;

        @include breakpoint(multidesktop) {
            width: 432px;
            height: 45px;
            margin-bottom: 22px;
        }

        .motor-avr {
            @include motor-avr-selections();
        }

        .selection-name {
            @include flex-container(flex-start, center);
            padding-left: 31px;
            font-size: $font-56;
            font-weight: $fw-bold;

            @include breakpoint(multidesktop) {
                padding-left: 15.5px;
                font-size: $font-28;
            }
        }

        .selection-price {
            @include flex-center;
            background-color: $color-white;
            font-size: $font-52;
            font-weight: $fw-bold;
            color: $early-price-text;
            margin-left: auto;

            @include breakpoint(multidesktop) {
                font-size: $font-26;
            }
        }

        .favorite-box {
            background-color: $theme-yellow;
        }
    }
}
