@import './src/global-style/_all-variables.scss';

.base-body-wrapper {
  background-color: $body-color-p2-lighter-bg;

  .ante-post-medium-content {
    font-weight: bold;
    padding: 60px 0 0 0;
    margin: 0;

    @include breakpoint(multidesktop) {
      padding: 35px 0;
    }
  }

  .selection-table {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    column-count: 2;
    column-gap: 20px;

    li {
      display: flex;
      align-items: stretch;
      color: $body-color-p2;
      padding-bottom: 8px;
      page-break-inside: avoid;
      break-inside: avoid;

      @include breakpoint(multidesktop) {
        padding-bottom: 4px;
      }

      .items {
        display: flex;
        align-items: center;
      }

      .table-item-1 {
        background-color: $white;
        flex: 1;
        font-size: $font-list-md2-title;
        padding: 10px 20px 12px 20px;
        line-height: 79px;

        @include breakpoint(multidesktop) {
          font-size: $font-list-title;
          line-height: 39px;
          padding: 5px 10px 6px 10px;
          flex-basis: unset;
          flex: 1;
        }
      }

      .table-item-2 {
        width: 182px;
        background-color: $body-color-p2-light-bg;
        font-size: $font-list-md2-title;
        line-height: 79px;

        &.items {
          justify-content: center;
        }

        @include breakpoint(multidesktop) {
          font-size: $font-list-title;
          line-height: 39px;
          width: 90px;
          flex-basis: unset;
        }
      }

      &.nonlist {
        opacity: 0;
      }
    }
  }
}