@import '../../../../global-style/all-variables';

.alert-danger h2 {
    background-color: #ffffff;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    word-wrap: break-word;
}

.alert-danger {
    background-color: $color-p1-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.brand-image {
    max-width: 75%;
}
