@import './src/global-style/_all-variables.scss';

.base-body-wrapper {
  padding-top: 18px;
  background-color: $body-color-p2-lighter-bg;

  @include breakpoint(multidesktop) {
    padding-top: 10px;
  }

  .draw-away-header-block {
    font-weight: bold;
    padding: 10px 0;
    display: flex;
  }

  .selection-table {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    column-count: 1;
    column-gap: 20px;

    li {
      display: flex;
      align-items: stretch;
      color: $body-color-p2;
      margin-bottom: 12px;
      height: 64px;

      @include breakpoint(multidesktop) {
        margin-bottom: 6px;
        height: 32px;
      }

      .items {
        display: flex;
        align-items: center;
        font-size: $txt-lg-title-size;

        @include breakpoint(multidesktop) {
          font-size: $txt-lg-font1-size;
        }

        &.timelabel {
          color: red;
          justify-content: center;
          margin-right: 6px;

          @include breakpoint(multidesktop) {
            font-size: $txt-lg-font-size;
            margin-right: 3px;
          }
        }
      }

      .table-item-1 {
        background-color: $color-p6;
        min-width: 26%;
        flex-basis: 26%;
        flex: 1;

        @include breakpoint(multidesktop) {
          min-width: 27.5%;
          flex-basis: 27.5%;
        }

        span {
          padding: 0 20px;
          display: block;
          width: 100%;
          height: 100%;
          line-height: 64px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @include breakpoint(multidesktop) {
            padding: 0 10px;
            line-height: 32px;
          }
        }

        &.timelabel {
          min-width: 218px;
          flex-basis: 218px;
          flex: unset;

          @include breakpoint(multidesktop) {
            min-width: 108px;
            flex-basis: 108px;
          }
        }
      }

      .team-vs {
        font-size: $txt-lg-title-size;
        background: $white;
        min-width: 76px;
        height: 100%;
        @include flex-center;

        @include breakpoint(multidesktop) {
          font-size: $txt-lg-font1-size;
          min-width: 38px;
        }
      }

      .table-item-2 {
        flex-basis: 160px;
        min-width: 160px;
        background-color: $body-color-p2-light-bg;

        &.items {
          justify-content: center;

          @include breakpoint(multidesktop) {
            flex-basis: 80px;
            min-width: 80px;
          }
        }
      }

      &.nonlist {
        opacity: 0;
      }
    }
  }

  .time {
    font-size: $h3-lg-font-size;
    color: $color-p1-text;
    @include flex-center;
    flex-basis: 218px;
    min-width: 218px;

    @include breakpoint(multidesktop) {
      font-size: $h2-font-size;
      flex-basis: 108px;
      min-width: 108px;
    }
  }

  .space1 {
    flex: 1;
    display: flex;
  }

  .space2 {
    flex: 1;
    display: flex;
  }

  .price-header {
    font-size: $h3-lg-font-size;
    color: $color-p1-text;
    flex-basis: 160px;
    min-width: 160px;
    @include flex-center;

    @include breakpoint(multidesktop) {
      font-size: $h2-font-size;
      flex-basis: 78px;
      min-width: 78px;
    }
  }

  .awayselection {
    justify-content: flex-end;
  }
}

::ng-deep .base-page-wrapper {
  .base-header-wrapper {
    .banner {
      .banner-sub-title {
        border: 2px solid $body-color-p2 !important;
        .banner-sub-title-left {
          min-width: auto !important;
        }

        .banner-sub-title-right {
          min-width: auto !important;
          flex: 1;
        }

        @include breakpoint(multidesktop) {
          border: 1px solid $body-color-p2 !important;
        }
      }
    }
  }
}