/_build
/Gantry/.vs
/Gantry/srvadm
/Gantry/packages
/Frontend/Gantry/ClientDist
/Frontend/Gantry/.editorconfig
/Frontend/Gantry/gulp-compiled
/Gantry/_build
/Frontend/Gantry/e2e/e2edist
/Gantry/Frontend.Gantry/bin/
/Gantry/Frontend.Gantry/obj/
/Gantry/Frontend.Gantry.Host/ClientDist
/Gantry/Frontend.Gantry.Host/bin/
/Gantry/Frontend.Gantry.Host/obj/
/Gantry/Frontend.Gantry.Shared/bin/
/Gantry/Frontend.Gantry.Shared/obj/
/Gantry/Frontend.Gantry.Host/Frontend.Gantry.Host.csproj.user
/Gantry/Frontend.Gantry/Frontend.Gantry.Host.csproj.user
/Gantry/Frontend.Gantry.Host/Areas/Gantry
/Gantry/Frontend.Gantry.Host/Configuration/DynaConOverrides.json
/Gantry/Frontend.Gantry.Shared/obj
/Gantry/Gantry.Web.Host
/Gantry/Gantry.Web.Plugins
/Gantry/Gantry.Web.Plugins.E2ETests
/Gantry/Gantry.Web.Plugins.Tests
/Gantry/Frontend.Gantry.Shared.Tests
/Gantry/Frontend.Gantry.Tests/bin/
/Gantry/Frontend.Gantry.Tests/obj/