@import './src/global-style/_all-variables.scss';

.base-body-wrapper {
    background-color: #E5ECF4;

    .match-bets-content {
        font-weight: bold;
        padding-top: 70px;

        @include breakpoint(multidesktop) {
            padding-top: 43px;
        }

        .event-info {
            font-size: $font-list-md3-title;
            color: $body-color-txt;
            padding-bottom: 13px;

            @include breakpoint(multidesktop) {
                font-size: $txt-lg-font1-size;
                padding-bottom: 6px;
            }
        }

        .selection-table {
            list-style: none;
            padding: 0;
            margin: 0px;

            li {
                display: flex;
                align-items: stretch;
                color: $body-color-txt;
                font-size: $font-list-lg-title;
                margin-bottom: 10px;
                height: 141px;

                @include breakpoint(multidesktop) {  
                    height: 70px;
                    margin-bottom: 5px;
                    font-size: $single-list-title;
                }

                .items {
                    display: flex;
                    align-items: center;
                }

                .table-item-1 {
                    background-color: #FFFFFF;
                    padding: 14px 20px;
                    box-sizing: border-box;
                    flex: 1;

                    @include breakpoint(multidesktop) {
                        font-size: $txt-lg-font1-size;
                        padding: 7px 10px;                      
                    }
                }

                .table-item-2 {
                    background-color: $body-color-p2-light-bg;
                    justify-content: center;
                    min-width: 240px;

                    @include breakpoint(multidesktop) {
                        min-width: 120px;
                    }

                    &.items {
                        justify-content: center
                    }

                }
            }
        }
    }


}