/** @deprecated This mixin is no longer available in Figma */
@mixin active {
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-bg: var(--semantic-color-surface-container-highest-active);
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-icon: var(--semantic-color-on-surface-base);
}

/** @deprecated This mixin is no longer available in Figma */
@mixin active-inverse {
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-bg: var(--semantic-color-surface-container-highest-active-inverse);
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-icon: var(--semantic-color-on-surface-base-inverse);
}

/** @deprecated This mixin is no longer available in Figma */
@mixin enabled {
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-bg: var(--semantic-color-surface-container-highest-base);
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-icon: var(--semantic-color-on-surface-base);
}

/** @deprecated This mixin is no longer available in Figma */
@mixin enabled-inverse {
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-bg: var(--semantic-color-surface-container-highest-base-inverse);
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-icon: var(--semantic-color-on-surface-base-inverse);
}

/** @deprecated This mixin is no longer available in Figma */
@mixin hover {
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-bg: var(--semantic-color-surface-container-highest-hover);
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-icon: var(--semantic-color-on-surface-base);
}

/** @deprecated This mixin is no longer available in Figma */
@mixin hover-inverse {
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-bg: var(--semantic-color-surface-container-highest-hover-inverse);
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-10-11T13:17:56.650Z) */
    --ds-carousel-arrow-color-icon: var(--semantic-color-on-surface-base-inverse);
}

@mixin large {
    --ds-carousel-arrow-size-height: var(--semantic-size-x11);
    --ds-carousel-arrow-size-icon: var(--semantic-size-icon-xlarge);
    --ds-carousel-arrow-size-width: var(--semantic-size-x11);
}

@mixin medium {
    --ds-carousel-arrow-size-height: var(--semantic-size-x9);
    --ds-carousel-arrow-size-icon: var(--semantic-size-icon-large);
    --ds-carousel-arrow-size-width: var(--semantic-size-x9);
}

@mixin shared {
    --ds-carousel-arrow-radius-border: var(--semantic-radius-max);
}

@mixin small {
    --ds-carousel-arrow-size-height: var(--semantic-size-x6);
    --ds-carousel-arrow-size-icon: var(--semantic-size-icon-small);
    --ds-carousel-arrow-size-width: var(--semantic-size-x6);
}

@mixin strong {
    --ds-carousel-arrow-active-color-bg: var(--semantic-color-surface-container-highest-active);
    --ds-carousel-arrow-active-color-border: var(--semantic-color-opacity-transparent);
    --ds-carousel-arrow-active-color-icon: var(--semantic-color-on-surface-base);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-active-color-bg: var(--semantic-color-surface-container-highest-active);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-active-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-active-color-icon: var(--semantic-color-on-surface-base);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-enabled-color-bg: var(--semantic-color-surface-container-highest-base);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-enabled-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-enabled-color-icon: var(--semantic-color-on-surface-base);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-hover-color-bg: var(--semantic-color-surface-container-highest-hover);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-hover-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-hover-color-icon: var(--semantic-color-on-surface-base);
    --ds-carousel-arrow-enabled-color-bg: var(--semantic-color-surface-container-highest-base);
    --ds-carousel-arrow-enabled-color-border: var(--semantic-color-opacity-transparent);
    --ds-carousel-arrow-enabled-color-icon: var(--semantic-color-on-surface-base);
    --ds-carousel-arrow-hover-color-bg: var(--semantic-color-surface-container-highest-hover);
    --ds-carousel-arrow-hover-color-border: var(--semantic-color-opacity-transparent);
    --ds-carousel-arrow-hover-color-icon: var(--semantic-color-on-surface-base);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-active-color-bg: var(--semantic-color-surface-container-highest-active-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-active-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-active-color-icon: var(--semantic-color-on-surface-base-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-enabled-color-bg: var(--semantic-color-surface-container-highest-base-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-enabled-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-enabled-color-icon: var(--semantic-color-on-surface-base-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-hover-color-bg: var(--semantic-color-surface-container-highest-hover-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-hover-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-hover-color-icon: var(--semantic-color-on-surface-base-inverse);
}

@mixin strong-inverse {
    --ds-carousel-arrow-active-color-bg: var(--semantic-color-surface-container-highest-active-inverse);
    --ds-carousel-arrow-active-color-border: var(--semantic-color-opacity-transparent);
    --ds-carousel-arrow-active-color-icon: var(--semantic-color-on-surface-base-inverse);
    --ds-carousel-arrow-enabled-color-bg: var(--semantic-color-surface-container-highest-base-inverse);
    --ds-carousel-arrow-enabled-color-border: var(--semantic-color-opacity-transparent);
    --ds-carousel-arrow-enabled-color-icon: var(--semantic-color-on-surface-base-inverse);
    --ds-carousel-arrow-hover-color-bg: var(--semantic-color-surface-container-highest-hover-inverse);
    --ds-carousel-arrow-hover-color-border: var(--semantic-color-opacity-transparent);
    --ds-carousel-arrow-hover-color-icon: var(--semantic-color-on-surface-base-inverse);
}

@mixin subtle {
    --ds-carousel-arrow-active-color-bg: var(--semantic-color-opacity-skrim-strong);
    --ds-carousel-arrow-active-color-border: var(--semantic-color-opacity-transparent);
    --ds-carousel-arrow-active-color-icon: var(--semantic-color-on-surface-base-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-active-color-bg: var(--semantic-color-opacity-active);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-active-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-active-color-icon: var(--semantic-color-on-surface-base-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-enabled-color-bg: var(--semantic-color-opacity-skrim-strong);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-enabled-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-enabled-color-icon: var(--semantic-color-on-surface-base-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-hover-color-bg: var(--semantic-color-opacity-hover);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-hover-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-default-hover-color-icon: var(--semantic-color-on-surface-base-inverse);
    --ds-carousel-arrow-enabled-color-bg: var(--semantic-color-opacity-skrim-strong);
    --ds-carousel-arrow-enabled-color-border: var(--semantic-color-opacity-transparent);
    --ds-carousel-arrow-enabled-color-icon: var(--semantic-color-on-surface-base-inverse);
    --ds-carousel-arrow-hover-color-bg: var(--semantic-color-opacity-active);
    --ds-carousel-arrow-hover-color-border: var(--semantic-color-opacity-transparent);
    --ds-carousel-arrow-hover-color-icon: var(--semantic-color-on-surface-base-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-active-color-bg: var(--semantic-color-opacity-active-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-active-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-active-color-icon: var(--semantic-color-on-surface-base-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-enabled-color-bg: var(--semantic-color-opacity-base-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-enabled-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-enabled-color-icon: var(--semantic-color-on-surface-base-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-hover-color-bg: var(--semantic-color-opacity-hover-inverse);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-hover-color-border: var(--semantic-color-opacity-transparent);
    /** @deprecated This token is no longer available in Figma (2024-11-25T22:51:18.324Z) */
    --ds-carousel-arrow-inverse-hover-color-icon: var(--semantic-color-on-surface-base-inverse);
}

@mixin subtle-inverse {
    --ds-carousel-arrow-active-color-bg: var(--semantic-color-opacity-active-inverse);
    --ds-carousel-arrow-active-color-border: var(--semantic-color-opacity-transparent);
    --ds-carousel-arrow-active-color-icon: var(--semantic-color-on-surface-base);
    --ds-carousel-arrow-enabled-color-bg: var(--semantic-color-opacity-base-inverse);
    --ds-carousel-arrow-enabled-color-border: var(--semantic-color-opacity-transparent);
    --ds-carousel-arrow-enabled-color-icon: var(--semantic-color-on-surface-base);
    --ds-carousel-arrow-hover-color-bg: var(--semantic-color-opacity-hover-inverse);
    --ds-carousel-arrow-hover-color-border: var(--semantic-color-opacity-transparent);
    --ds-carousel-arrow-hover-color-icon: var(--semantic-color-on-surface-base);
}
