@import '../../../../../dark-theme-global-style/_all-variables.scss';

.avr-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: center;
    object-position: center;
    z-index: 1;
}

.eventcontainer {
    &__name {
        position: absolute;
        top: 48px;
        left: 78px;
        width: auto;
        height: 96px;
        padding: 0 20px;
        background-color: $color-theme;
        color: $color-white;
        font-size: $font-76;
        font-weight: $fw-semibold;
        z-index: 2;
        @include flex-container(flex-start, center);

        @include breakpoint(multidesktop) {
            padding: 0 10px;
            font-size: $font-38;
            top: 24px;
            left: 39px;
            margin: 0;
            width: auto;
            height: 48px;
            line-height: 48px;
        }
    }

    &__brandimage {
        width: 440px;
        height: 68px;
        position: absolute;
        right: 0px;
        top: 30px;
        z-index: 2;

        @include breakpoint(multidesktop) {
            top: 15px;
            width: 220px;
            height: 34px;
        }
    }
}

.avr-bg-image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;

    @media (orientation: portrait) {
        min-height: 100vh;
    }
}
