@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('/sitecore/shell/client/Applications/DisplayManager/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('/sitecore/shell/client/Applications/DisplayManager/assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('/sitecore/shell/client/Applications/DisplayManager/assets/fonts/Roboto-Bold.ttf');
}