<div [ngClass]="selectedTabName == manualConstants.showprice ? 'match-details-page showprice-footer' : 'match-details-page result-footer'">
    <div class="match-details-wrapper-footer">

    <div class="match-details-form" [formGroup]="form">
        <div class="controls-section">
            <div class="form-control">
                <mat-label class="item-label">Each-Way*</mat-label>
                <mat-form-field appearance="fill" class="each-way-field" [ngClass]="{ 'is-invalid': ((form.controls['eachway'].invalid) && isSubmit) }">
                    <mat-select disableOptionCentering panelClass="mat-dropdown-control" id="eachwayField"
                    formControlName="eachway">
                        <mat-option [value]="way" *ngFor="let way of eachWayList">{{ way }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-control" *ngIf="selectedTabName == manualConstants.showprice">
                <mat-label class="item-label">Run*</mat-label>
                <mat-form-field appearance="fill" class="run-field" [ngClass]="{ 'is-invalid': ((form.controls['run'].invalid) && isSubmit) }">
                    <input matInput id="runField" type="text" [OnlyNumber]="true" [maxlength]="2" formControlName="run" autocomplete="off"/>
                </mat-form-field>
            </div>
            <div class="form-control">
                <mat-label class="item-label">Distance</mat-label>
                <mat-form-field appearance="fill" class="distance-field">
                    <input matInput id="distanceField" type="text" maxlength="20" formControlName="distance" autocomplete="off"/>
                </mat-form-field>
            </div>
            <div class="form-control">
                <mat-label class="item-label">Grade</mat-label>
                <mat-form-field appearance="fill" class="grade-field">
                    <input matInput id="gradeField" type="text" maxlength="20" formControlName="grade" autocomplete="off"/>
                </mat-form-field>
            </div>
            <div class="form-control" *ngIf="selectedTabName == manualConstants.result">
                <mat-label class="item-label">Forecast</mat-label>
                <mat-form-field appearance="fill" class="footer-lowersection-fields">
                    <input matInput id="forecastField" type="text" formControlName="forecast" autocomplete="off"/>
                </mat-form-field>
            </div>
            <div class="form-control" *ngIf="selectedTabName == manualConstants.result">
                <mat-label class="item-label">Tricast</mat-label>
                <mat-form-field appearance="fill" class="footer-lowersection-fields">
                    <input matInput id="tricastField" type="text" formControlName="tricast" autocomplete="off"/>
                </mat-form-field>
            </div>
            <div class="form-control" *ngIf="selectedTabName == manualConstants.result">
                <mat-label class="item-label">Ran*</mat-label>
                <mat-form-field appearance="fill" class="ran-field" [ngClass]="{ 'is-invalid': ((form.controls['run'].invalid) && isSubmit) }">
                    <input matInput id="ranField" type="text" [OnlyNumber]="true" [maxlength]="2" formControlName="run" autocomplete="off"/>
                </mat-form-field>
            </div>
            
        </div>
    </div>
</div>
