@import './src/global-style/_all-variables.scss';

.marketContent {
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    align-items: flex-end;
    color: $color-p1-text;

    @include breakpoint(multidesktop) {
        padding-top: 20px;
        padding-bottom: 0;
    }

    &-right,
    &-left {
        display: flex;
        flex-direction: row;
        width: 100%;

    }

    .market {
        margin: 0 1%;
        flex: 0 0 auto;
        width: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .market-titel {
            width: 80%;
        }

        .marketContent-center {
            width: 80%;
        }

        .betOdds {
            width: 100%;
        }
    }

    .item-lg {
        flex: 0 0 auto;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &.away {
            align-items: flex-end;

            .betName {
                text-align: right;
            }
        }

    }

    .market-titel {
        background: $white;
        width: 15%;
        display: flex;
        padding: 6px 0;
        justify-content: center;
        font-size: $txt-xl-font-size;
        color: $body-color-txt;

        @include breakpoint(multidesktop) {
            font-size: $txt-sm-font2-size;
        }


    }

    .betName {
        @include text-truncate;
        font-size: $txt-xl-font-size;
        background-color: $white;
        padding: 8px 20px;
        flex: 1;
        color: $body-color-txt;

        @include breakpoint(multidesktop) {
            font-size: $antipost-font-list-title;
        }

    }

    .team-vs {
        font-size: $txt-xl-font-size;
        background: $white;
        min-width: 10%;
        max-width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 0;

        @include breakpoint(multidesktop) {
            font-size: $antipost-font-list-title;
        }
    }

    .betOdds {
        background: $body-color-p2-light;
        width: 75px;
        display: flex;
        align-items: center;
        align-items: center;
        padding: 8px;
        justify-content: center;
        color: $body-color-txt;
        font-size: $txt-xl-font-size;

        @include breakpoint(multidesktop) {
            font-size: $antipost-font-list-title;
            width: 60px;
        }
    }

    .rightAwayMargin {
        padding-left: 170px;
    }
}