@import './src/global-style/_all-variables.scss';
.tip-name {
    color: $black;
    font-weight: bolder;
}

.tip-nonrunnername {
  color: $black;
  font-weight: bolder;
}

.c-logo{
  height: 26px;
  margin-right: 15px;

  @include breakpoint(multidesktop){
      height: 14px;
      margin-top: 1px;
      margin-right: 10px;
  }

}

.tip-text{
  color: $black;
  font-weight: bolder;
}

.run-count{
  margin-right: 40px;

  @include breakpoint(multidesktop){
    margin-right: 19px
  }
}