@import '../../../../../../../../src/dark-theme-global-style/all-variables';

.match-betting-details {
    margin-top: 32px;

    @include breakpoint(multidesktop) {
        margin-top: 16px;
    }
}

.draw-details {
    margin-top: 22px;

    @include breakpoint(multidesktop) {
        margin-top: 11px;
    }
}
