@import './src/global-style/_all-variables.scss';

.base-body-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 72px;
    grid-row-gap: 0;

    @include breakpoint(multidesktop) {
        grid-column-gap: 36px;
        grid-row-gap: 0;
    }


    .selection-table {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-size: $font-list-md2-title;
            display: flex;
            color: $body-color-p2;
            padding-bottom: 4px;
            height: 88px;

            @include breakpoint(multidesktop) {
                font-size: $font-list-title;
                padding-bottom: 2px;
                height: 44px;
            }

            .items {
                display: flex;
                align-items: center;
            }

            .table-item-1 {
                background-color: $white;
                padding-left: $p-20;
                flex: 1;
                box-sizing: border-box;

                @include breakpoint(multidesktop) {
                 padding-left: $p-10;
                }
            }

            .table-item-2 {
                background-color: $body-color-p2-light;
                width: 188px;
                box-sizing: border-box;

                @include breakpoint(multidesktop) {
                    width: 94px;
                }

                &.items {
                    justify-content: center;
                }
            }
        }
    }

    .winning-distance-page {
        .wining-title {
            color: $body-color-p2;
            padding: 28px 0px 12px 0px;
            font-size: $txt-lg-title-size;

            @include breakpoint(multidesktop) {
                padding: 14px 0px 6px 0px;
                font-size: $txt-lg-font-size;
            }
        }

        &.winning-distance-list-2 {
            .wining-title {
                padding: 22px 0px 6px 0px;
                font-size: $txt-lg-title-size;

                @include breakpoint(multidesktop) {
                     padding: 13px 0px 3px 0;
                     font-size: $txt-lg-font-size;
                }
            }

            .selection-table {
                @include breakpoint(multidesktop) {
                    padding: 0;
               }

               li{
                font-size:  $font-list-md2-title;
                padding-bottom: 4px;
                height: 89px;

                @include breakpoint(multidesktop) {
                    font-size: $font-list-title;
                    padding-bottom: 2px;
                    height: 44px;
                }

                .table-item-1 {
                    flex: 1;
                }

                .table-item-2 {
                    width: 188px;

                    @include breakpoint(multidesktop) {
                        width: 93px;
                    }
                }
              }
            }
        }

        &.winning-distance-list-3 {
            .wining-title {
                padding: 16px 0px 5px 0px;
                font-size: $txt-formula-h;

                @include breakpoint(multidesktop) {
                 padding: 10px 0px 3px 0px;
                 font-size: $txt-md-font2-size;
                }
            }

            .selection-table{
                @include breakpoint(multidesktop) {
                     padding: 0px;
                }
                .table-item-1 {
                    padding: 8px 7px 8px 20px;
                }
                li{
                    font-size: $txt-formula-h;
                    padding-bottom: 2px;
                    height: 58px;

                    @include breakpoint(multidesktop) {
                        font-size: $txt-md-font1-size;
                        padding-bottom: 1px;
                        height: 29px;
                    }

                    .table-item-1 {
                       flex: 1;
                    }

                    .table-item-2 {
                        width: 188px;
                    }
                }
            }
        }
    }
}