@font-face {
    font-family: 'FF DIN Pro';
    src: url('https://scmedia.itsfogo.com/$-$/d541cb52a610460a9bd95311cb2191fa.otf') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FF DIN Pro';
    src: url('https://scmedia.itsfogo.com/$-$/0e538f750f1944079c912e3f0e313318.otf') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FF DIN Pro';
    src: url('https://scmedia.itsfogo.com/$-$/ae04fe158cf34fd79883d540b2a93f45.otf') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
