/* GT America */

@font-face {
    font-display: swap;
    font-family: 'GT America';
    font-style: normal;
    font-weight: 400;
    src: url('https://scmedia.itsfogo.com/$-$/59a42bb2c38e432c8c38566046ae75b6.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'GT America';
    font-style: normal;
    font-weight: 500;
    src: url('https://scmedia.itsfogo.com/$-$/8a969997651b408587a2c16021777135.woff2') format('woff2');
}

// @font-face {
//     font-display: swap;
//     font-family: 'GT America';
//     font-style: normal;
//     font-weight: 600;
//     src: url('https://scmedia.itsfogo.com/$-$/3a0e1cc99e864fdb85ec68ce18ab0a54.woff2') format('woff2');
// }

@font-face {
    font-display: swap;
    font-family: 'GT America';
    font-style: normal;
    font-weight: 700;
    src: url('https://scmedia.itsfogo.com/$-$/3a0e1cc99e864fdb85ec68ce18ab0a54.woff2') format('woff2');
}
