/* Helvetica Neue */

@font-face {
    font-family: 'Helvetica Neue';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('https://scmedia.itsfogo.com/$-$/5874084f32094ed684de4023d76bbef4.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('https://scmedia.itsfogo.com/$-$/306c46379e4f47018b7ad1a8082217b0.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('https://scmedia.itsfogo.com/$-$/5b58e2342bee4c968c317d30c5d3dfa2.otf') format('opentype');
}
