/******************** Lato ****************/

/* latin-ext */
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/35b7bd64849442e0bdaa8613c4665e4a.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/eaddc071b0314757bd1a65030de7dc44.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* will be updated */

// @font-face {
//     font-family: Lato;
//     font-style: normal;
//     font-weight: 600;
//     font-display: swap;
//     src: url('') format('woff2');
//     unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/74fa9da7e8374cbe923ee2dfac37a3a9.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/85c5c29a87254888813610f71ab314b4.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/d97e67909ce34125b5976c6ce409bc9d.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/4d5c43ee11ca48b2a0ac2c818d09e0ce.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

/* will be updated */

// @font-face {
//     font-family: Lato;
//     font-style: normal;
//     font-weight: 600;
//     font-display: swap;
//     src: url('') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
//         U+2215, U+FEFF, U+FFFD;
// }

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/658c202b516945779af16d928bc99d1f.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/8d5bfb610b474dadb3f1afef4c54a0c5.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
