/* Montserrat */

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/6440b35fa76e458f9202005a593c679e.woff2') format('woff2');
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/7c39e4d4586e43789cb8cd81aa959916.woff2') format('woff2');
}

/* cyrillic-ext */
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/1aba40f6e250457da2dca5c757e8c0af.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/dff5ddea38a747e68cbbceb35ba5c368.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/affaa20383354e298c7855f7abee6028.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/108db48c039a49dcbbc4ee29fb776339.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/06f9b9fdf39540e4b975630df71c7d9d.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/26ec6e1645a44363ad7b0aa6a5aeb574.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/0774f3ff251c4cf88c391ee30f3b9abd.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/61aef72b095f4134a39d9b95caab1012.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/14846c54918744bf95ca13e305489f6a.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/3dad686ab15c49ffb49f2c03cdd142b2.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/ebfa57f664454915b2519444fd642056.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/e58c1b199c1a42718dcbbdbe3453aa6c.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/e8a521b29bf1464793291da0883929e2.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/fb631217b1c54a739d893d0a4e2b9fbb.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/5e5e41efdb4245f9bed1fdfaf3f19bd9.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/74fbb69e6dab4eefa68e10272b4014c4.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/1451402a870d453d88a5b89f3a2d24cd.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/878848f207234dbf932844cd6ebdaca4.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/a6a527bc4f484943a1f0f91be6c79bdd.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/f065d550c25b4da9a35e229f704e7fc8.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
