/********* Open Sans *******/

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/79839f41119b462a95109a33fd76c20a.woff2') format('woff2');
}

/* cyrillic-ext */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/f154209aed8f4f89869ae213339534d0.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/471e85a6e25045b5b03f52f837983259.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

// /* will be updated */
// @font-face {
//     font-family: 'Open Sans';
//     font-style: normal;
//     font-weight: 500;
//     font-stretch: 100%;
//     font-display: swap;
//     src: url('') format('woff2');
//     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
// }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/b2ab41467189404fb721ffb7cb764050.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/622fd424bffd43ec92816a5b42dc4b1e.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/ae9f209171be4f66a1cfd14409317b9b.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/9fa4e1c78c9645869474302d81a288f1.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/ee5ec6ceae7b4628b40df3150737949a.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* will be updated */

// @font-face {
//     font-family: 'Open Sans';
//     font-style: normal;
//     font-weight: 500;
//     font-stretch: 100%;
//     font-display: swap;
//     src: url('') format('woff2');
//     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/79c2ea9812014bfaad5f75af9cce7e68.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/9e03e8d4bad64ea69c87ebf09160e34f.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/63d8741703084fdf88e5943906624192.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/e9c86053e98949728da86e02e6f8221e.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/74c97359aa17455b91eda5aac8fdfffe.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* will be updated */
// @font-face {
//     font-family: 'Open Sans';
//     font-style: normal;
//     font-weight: 500;
//     font-stretch: 100%;
//     font-display: swap;
//     src: url('') format('woff2');
//     unicode-range: U+1F00-1FFF;
// }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/7dae79d101f54863b580fbf2b7dce97f.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/9092dd8e2b9642419ff961a5065c4d42.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/1afa10c4946d4acab878e07aea6ac5af.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/1c3420c045eb4f1bb6d59c23bfab92f4.woff2') format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/665c37ebd3ef441899b82d18187ecc30.woff2') format('woff2');
    unicode-range: U+0370-03FF;
}

/* will be updated */
// @font-face {
//     font-family: 'Open Sans';
//     font-style: normal;
//     font-weight: 500;
//     font-stretch: 100%;
//     font-display: swap;
//     src: url('') format('woff2');
//     unicode-range: U+0370-03FF;
// }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/beb1210d27124966b1d018d0d3e04970.woff2') format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/7f1eb0338dd542f09115954352c25a86.woff2') format('woff2');
    unicode-range: U+0370-03FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/6af54a65d88148c1958ce8beb23f687f.woff2') format('woff2');
    unicode-range: U+0370-03FF;
}

/* latin-ext */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/7a3b2f1534e64dd1bdf531e1268e8788.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/3b1572abe4f943b98b54c83e67e04f7f.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* will be updated */
// @font-face {
//     font-family: 'Open Sans';
//     font-style: normal;
//     font-weight: 500;
//     font-stretch: 100%;
//     font-display: swap;
//     src: url('') format('woff2');
//     unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/5dc7dc1bceab47bcba05a220eba42da3.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/59dcbb5ceef14e77b945f53d7bc3bd5e.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/e51f2710ca734aacaf9ed55721e25bbd.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/cbba7ec0013241d39f75563b8ca6d1c4.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/e2b23c6116e84fc28ab1c2f666c8c3fb.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

/* will be updated */
// @font-face {
//     font-family: 'Open Sans';
//     font-style: normal;
//     font-weight: 500;
//     font-stretch: 100%;
//     font-display: swap;
//     src: url('') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
//         U+2215, U+FEFF, U+FFFD;
// }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/3ac2a8c0d5bc47129fe790766a2bea84.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/722483645d4e421e9a9259805eb6b2cf.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/b4e85c1a166f4a1ab62221e561142a14.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
