/* Söhne */

@font-face {
    font-display: swap;
    font-family: 'Söhne';
    font-style: normal;
    font-weight: 400;
    src: url('https://scmedia.itsfogo.com/$-$/9b65d0e594e64284949fcf5afa6f8320.otf') format('opentype');
    ascent-override: 100%;
}

@font-face {
    font-display: swap;
    font-family: 'Söhne';
    font-style: normal;
    font-weight: 500;
    src: url('https://scmedia.itsfogo.com/$-$/f63e1cdf16334fdfb27722520b256709.otf') format('opentype');
    ascent-override: 100%;
}

@font-face {
    font-display: swap;
    font-family: 'Söhne';
    font-style: normal;
    font-weight: 600;
    src: url('https://scmedia.itsfogo.com/$-$/003a4eb6d1a24f1d840d9a5a88e16b21.otf') format('opentype');
    ascent-override: 100%;
}

@font-face {
    font-display: swap;
    font-family: 'Söhne';
    font-style: normal;
    font-weight: 700;
    src: url('https://scmedia.itsfogo.com/$-$/e26a00e48d0d4acbab328e36f24be026.otf') format('opentype');
    ascent-override: 100%;
}

@font-face {
    font-display: swap;
    font-family: 'Söhne';
    font-style: normal;
    font-weight: 900;
    src: url('https://scmedia.itsfogo.com/$-$/b325e6e8095f459584a82df9eb211da4.otf') format('opentype');
    ascent-override: 100%;
}
