@import '../all-variables';
//variables
$color-black: #000000;
$color-white: #ffffff;
$border-gray: #cccccc;
$fw-bold: 900;

// Common styles for text-fill and text-stroke
@mixin trap-text-styles($fillColor, $strokeColor: $color-white) {
    span {
        -webkit-text-fill-color: $fillColor;
        -webkit-text-stroke: 1px $strokeColor;

        @include breakpoint(multidesktop) {
            -webkit-text-stroke: 0.5px $strokeColor;
        }

        @include breakpoint(multidesktophalf) {
            -webkit-text-stroke: 0.5px $strokeColor;
        }
    }
}

// Common styles for box layout
@mixin trap-box-layout {
    @include flex-center;
    overflow: hidden;
    user-select: none;
}

// Trap number with stroke mixin
@mixin trap-num-with-stroke($fillColor, $strokeColor: $color-white) {
    @include trap-text-styles($fillColor, $strokeColor);
}

// Common styles for specific trap classes
@mixin trap-common-styles($color, $bgColor) {
    color: $color;
    background: $bgColor;
}

// stripes styles
@mixin trap-stripes() {
    position: relative;

    &::before,
    &::after {
        @include trap-common-styles($color-black, $color-white);
        content: '';
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 18px;

        @include breakpoint(multidesktop) {
            height: 9px;
        }

        @include breakpoint(multidesktophalf) {
            height: 12px;
        }
    }

    &::before {
        top: 18px;

        @include breakpoint(multidesktop) {
            top: 9px;
        }

        @include breakpoint(multidesktophalf) {
            top: 12px;
        }
    }

    &::after {
        bottom: 18px;

        @include breakpoint(multidesktop) {
            bottom: 9px;
        }

        @include breakpoint(multidesktophalf) {
            bottom: 12px;
        }
    }
}

// Two tone styles
@mixin trap-two-tone($secong-bg) {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 43%;
        height: 100%;
        background: $secong-bg;
    }
}

// Trap box styles mixin
@mixin trap-box-styles($width: 61px, $height: 60px, $fontSize: 58px) {
    .selection-number {
        @include trap-box-layout;
        width: $width;
        height: $height;
        font-size: $fontSize;
        font-weight: $fw-bold;
        box-sizing: border-box;
        border: solid 1px $border-gray;

        @include breakpoint(multidesktop) {
            width: floor(calc($width / 2));
            height: floor(calc($height / 2));
            font-size: calc($fontSize / 2);
            border: solid 0.8px $border-gray;
        }

        @include breakpoint(multidesktophalf) {
            width: $width;
            height: $height;
            font-size: round(calc($fontSize * 0.7));
        }

        span {
            z-index: 1;
            line-height: $fontSize;

            @include breakpoint(multidesktop) {
                line-height: calc($fontSize / 2);
            }

            @include breakpoint(multidesktophalf) {
                line-height: round(calc($fontSize * 0.7));
            }
        }

        // Trap-1 styles
        &.trap-1 {
            @include trap-common-styles($color-white, rgb(212, 52, 38));
        }

        // Trap-2 styles
        &.trap-2 {
            @include trap-common-styles($color-white, rgb(0, 113, 188));

            &.trap__country--aus {
                @include trap-stripes();
                @include trap-common-styles(rgb(238, 28, 37), $color-black);
                @include trap-num-with-stroke(rgb(238, 28, 37));
            }
        }

        // Trap-3 styles
        &.trap-3 {
            @include trap-common-styles($color-black, $color-white);
            box-shadow: -1px 0px 2px 1px #00000029 inset;
        }

        // Trap-4 styles
        &.trap-4 {
            @include trap-common-styles($color-white, $color-black);

            &.trap__country--aus {
                @include trap-common-styles($color-white, rgba(43, 78, 197, 1));
            }

            &.traps__country--uk {
                @include trap-common-styles($color-white, #00a868);
            }
        }

        // Trap-5 styles
        &.trap-5 {
            @include trap-common-styles($color-black, rgb(244, 140, 40));

            &.trap__country--aus {
                @include trap-common-styles($color-black, rgba(255, 241, 0, 1));
            }
        }

        // Trap-6 styles
        &.trap-6 {
            @include trap-common-styles(rgb(238, 28, 37), $color-black);
            @include trap-stripes();
            @include trap-num-with-stroke(rgb(238, 28, 37));

            &.trap__country--aus {
                @include trap-common-styles(rgba(238, 28, 37, 1), rgba(0, 167, 77, 1));

                &::after {
                    display: none;
                }

                &::before {
                    display: none;
                }
            }
        }

        // Trap-7 styles
        &.trap-7 {
            @include trap-common-styles(rgb(238, 28, 37), rgb(77, 148, 104));
            @include trap-num-with-stroke(rgb(238, 28, 37));

            &.trap__country--aus {
                @include trap-common-styles(rgba(244, 232, 0, 1), $color-black);
                @include trap-num-with-stroke(unset, transparent);
            }
        }

        // Trap-8 styles
        &.trap-8 {
            @include trap-common-styles($color-white, $color-black);
            @include trap-two-tone(rgb(255, 244, 0));
            @include trap-num-with-stroke($color-white, $color-black);

            &.trap__country--aus {
                @include trap-common-styles($color-black, rgba(255, 48, 175, 1));

                &::before {
                    display: none;
                }

                @include trap-num-with-stroke($color-black, $color-white);
            }
        }
    }
}

// stripes styles
@mixin trap-number-stripes($height: 12px) {
    position: relative;

    &::before,
    &::after {
        @include trap-common-styles($color-black, $color-white);
        content: '';
        z-index: 0;
        position: absolute;
        width: 100%;
        height: $height;

        @include breakpoint(multidesktop) {
            height: calc($height / 2);
        }

        @include breakpoint(multidesktophalf) {
            height: calc($height * 0.75);
        }
    }

    &::before {
        top: $height;

        @include breakpoint(multidesktop) {
            top: calc($height / 2);
        }

        @include breakpoint(multidesktophalf) {
            top: calc($height * 0.75);
        }
    }

    &::after {
        bottom: $height;

        @include breakpoint(multidesktop) {
            bottom: calc($height / 2);
        }

        @include breakpoint(multidesktophalf) {
            bottom: calc($height * 0.75);
        }
    }
}
